<div class="wrapper">
    <div class="leadblock first">

      <h1>Douglas Cardinal</h1>
      <div class="datewrapper">
          <i><span class="dob">b. 1934-03-07</i>
      </div>
    </div>

<div class="leadblock">    
In the world of architecture, Douglas Cardinal is an international giant. He designed the Canadian Museum of Civilization in Ottawa, the Smithsonian Museum of the American Indian in Washington D.C. and the Edmonton Space and Science Centre. His buildings and designs incorporate modern technology and imaginative, Aboriginal cultural styles.
</div>
<div class="leadblock">
Douglas is a Blackfoot descendant born in Calgary, Alberta in1934 to Joseph Trefflé Cardinal and Frances Marguerite Rach. He began his architectural studies at the University of British Columbia, which lead to work at Jesson Milhouse Greeven with renowned architect Fred Day. He was then awarded a scholarship to study at the School of Architecture at the University of Texas. During the 1950’s and 1960’d, he became involved with the many human rights initiatives igniting across the United States at the time.  This commitment to bettering human conditions is one of the major principles to all his architectural designs and can be seen in even the smallest details of his work. 
</div>

<div class="leadblock">
Stemming from his observations on nature and a need for harmony, he was a forerunner for green buildings, sustainability and ecologically designed community planning. His architectural triumphs have been recognized by many awards and acknowledgements including: fourteen Honourary Doctorates from universities across North America, appointed Officer of the Order of Canada, recipient of the Gold Medals in Architecture from the Royal Architectural Institute of Canada and the Union of Architects of Russia, an honourary fellowship to the Society of American Registered Architects as well as the Royal Incorporation of Architects in Scotland. 
</div>
    
</div>    