<day related-pages="" category="flooding" title="Ethel Catherine Taylor">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">
        <div class="content" ng-class="{ 'shadowOn': ($root.states.logoCollapse === false) }">
            <div class="wrapper">
                <div class="leadblock first">
                    <div class="portrait" bg-Img="assets/img/elijahHarper/22_TRAPPERS-OF-THE-NW001.jpg"></div>
                    <h1>Ethel Catherine Taylor</h1>
                    <i><span class="dob">1930</span> - <span class="dod">1992</span></i>
                </div>
                <div class="leadblock second">
                    <p class="introtext"><i>Ethel Catherine Taylor and Allan B Harper had thirteen children, including Elijah Harper, Saul Harper, and Darryl William Harper.</i></p>
                    <br><br> 

                    <p class="introtext"><i>Elijah’s brother Darryl William Harper delivered the iconic eagle feather that symbolically blocked the ratification of the Meech Lake Accord.</i></p>
                </div>
            </div>    
        </div>
    </div>
</day>