<day related-pages="" category="flooding" title="heCameFromEngland">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">
        <div class="content" ng-class="{ 'peek': ($root.states.logoCollapse === true) }">
            <div class="wrapper">
                <div class="leadblock first">
                    <div class="portrait" bg-Img="assets/img/elijahHarper/22_TRAPPERS-OF-THE-NW001.jpg"></div>
                    <h1>Peemeecheekag; Pekī n awadim </h1>
                    <h1 class="translate">Porcupine Standing Sideways; Good at racing, he beats</h1>
                    <i><span class="dob">1814</span> - <span class="dod">1891</span></i>
                </div>
                <div class="leadblock second">
                    <p class="introtext"><i>Peemeecheekag was the leading headman and shaman in the upper Severn River district, in what is now northwestern Ontario. His roots are unknown, but his descendants tell that he had mystical origins and it is reported that he came into the world as a fully grown man. The story goes that when he was first seen, he was standing on the roof of a lodge, where he declared, “They call me the Porcupine Standing Sideways, I lived before in this world, now I am here again.”</i></p>
                </div>
                <div class="leadblock third">
                    <p class="mediumtext">Responding to local scarcity and establishing mutual relationships with Hudson's Bay Company post managers when possible, Peemeecheekag was able to lead his group through challenging and difficult times.</p>
                </div>
                <div class="leadblock">
                    <p class="mediumtext">Legends of Peemeecheekag’s shamanistic were told through the generations. As one story goes, Peemeecheekag saw a windigo on its way to his village. He attacked the evil creature with a whip: “The windigo’s hair stood straight up and rabbit fur grew out of its back,” and it fled. Thereafter, “thundering noises” were heard from the place of the struggle because drops of the windigo’s blood had fallen there.</p>
                </div>
            </div>    
        </div>
    </div>
</day>