<day related-pages="" category="flooding" title="Resources Step1">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">

            <div class="introduction" id="resources">
                <div class="inner timeline" >
                    <img src="assets/img/timeline.png" ng-click="homebtn();">
                </div>                
                <div class="paragraph-width">
                    <h1>STEP 1</h1>
                </div>

                <div class="wrapperstep">
                    <div class="videowrapper">
                        <iframe src="//www.youtube.com/embed/9opvXrkTnRI?autohide=1&controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <!-- <ul class="columns">
                    <li>
                        <strong>1.</strong><div class="padded">Start your genealogical search with yourself and work back slowly, one generation at a time.</div>
                    </li><li>
                        <strong>2.</strong><div class="padded">Speak with your family members (as many as possible) and gather as much information as you can, asking them for documents, memorabilia or heirlooms that might have been passed down and stories they might recall.</div>
                    </li><li class="last"> 
                        <strong>3.</strong><div class="padded">Record these conversations with your family members, either audio or video if possible, to keep for future generations.</div> 
                    </li>
                </ul> -->

                <ol type="1">
                    <li>
                        Start your genealogical search with yourself and work back slowly, one generation at a time.
                    </li><li>
                        Speak with your family members (as many as possible) and gather as much information as you can, asking them for documents, memorabilia or heirlooms that might have been passed down and stories they might recall.
                    </li><li class="last"> 
                        Record these conversations with your family members, either audio or video if possible, to keep for future generations. 
                    </li>
                </ol>
<!--                 <youtube-player vidSrc="//www.youtube.com/embed/9opvXrkTnRI"></youtube-player>
 -->                
               
              <!--   <p>
                    With acclaimed Canadian Genealogist Janice Nickerson
                    at the helm of our research team, All Our Relations was able to capitalize on
                    her years of experience and knowhow in the field of Aboriginal genealogy. By
                    watching the following interviews with Janice, you will receive valuable and
                    practical step-by-step instructions on how to begin your own search into your family’s
                    past.  
                </p> -->
                
            
                
            </div>
        </div>
    </div>
</day>