<day related-pages="" category="flooding" title="Resources Step1">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">

            <div class="introduction" id="resources">
                <div class="inner timeline" >
                    <img src="assets/img/timeline.png" ng-click="homebtn();">
                </div>                
                <div class="paragraph-width">
                    <h1>Challenges in researching Aboriginal ancestry</h1>
                </div>

                <div class="wrapperstep">
                    <div class="videowrapper">
                        <iframe src="//www.youtube.com/embed/o0kXmHYmdjc" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <ol type="1" class="lead">
                    <li>
                        Being aboriginal.
                    </li>
                    <li>
                        Language barriers between people creating records at
                        that time and those they were creating records for.
                    </li>
                    <li> 
                        The remote locations. 
                    </li>
                    <li> 
                        Government policies at that time. 
                    </li>
                    <li> 
                        Residential School records are being collected and
                        catalogued as part of the Truth and Reconciliation process, but are not yet
                        widely available.
                    </li>
                </ol>
                <ol type="1" >
                    <strong>Tips</strong><br><br>
                    <li>
                        Be persistent.
                    </li>
                    <li>
                        Learn contextual information: find out the history of
                        community, research the language of the community, and find out about the
                        policies of that time.

                    </li>
                    <li> 
                        Come up with plausible theories as to where you might
                        find the information you are seeking.
                    </li>
                </ol>
                
            
                
            </div>
        </div>
    </div>
</day>