.ir {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.cf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix, *:first-child + html .clearfix {
  zoom: 1;
}

#background, .parchment {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#parchment {
  display: block;
}

#bg-video {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

body {
  background: white;
  overflow: hidden;
  font: "Domine", serif;
}

canvas {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 120px;
}

#svg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#all-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
}
#all-container .portraitwrapper, #all-container .resourcewrapper, #all-container .showwrapper, #all-container .aboutwrapper {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 100%;
  display: table;
}
#all-container .portraitwrapper .side-menu, #all-container .resourcewrapper .side-menu, #all-container .showwrapper .side-menu, #all-container .aboutwrapper .side-menu {
  vertical-align: middle;
  display: none;
}
#all-container .portraitwrapper .side-menu .portrait, #all-container .resourcewrapper .side-menu .portrait, #all-container .showwrapper .side-menu .portrait, #all-container .aboutwrapper .side-menu .portrait {
  width: 60px;
  height: 60px;
  border: solid 4px;
  border-color: white;
  border-radius: 100%;
  background-size: cover;
  -webkit-filter: sepia(0%);
  filter: sepia(0%);
  cursor: pointer;
  margin-bottom: 2vh;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
#all-container .portraitwrapper .side-menu .portrait.active, #all-container .resourcewrapper .side-menu .portrait.active, #all-container .showwrapper .side-menu .portrait.active, #all-container .aboutwrapper .side-menu .portrait.active {
  border-color: #291f00;
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}
#all-container .resourcewrapper .side-menu, #all-container .showwrapper .side-menu, #all-container .aboutwrapper .side-menu {
  padding-top: 8em;
  vertical-align: top;
  display: none;
}
#all-container .resourcewrapper .side-menu .resource-btn, #all-container .resourcewrapper .side-menu .subsection, #all-container .showwrapper .side-menu .resource-btn, #all-container .showwrapper .side-menu .subsection, #all-container .aboutwrapper .side-menu .resource-btn, #all-container .aboutwrapper .side-menu .subsection {
  margin-bottom: 1em;
  padding: 0.5em;
  cursor: pointer;
  width: 180px;
  text-align: center;
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
}
#all-container .resourcewrapper .side-menu .resource-btn.btn-active, #all-container .resourcewrapper .side-menu .subsection.btn-active, #all-container .showwrapper .side-menu .resource-btn.btn-active, #all-container .showwrapper .side-menu .subsection.btn-active, #all-container .aboutwrapper .side-menu .resource-btn.btn-active, #all-container .aboutwrapper .side-menu .subsection.btn-active {
  color: #b07e1b;
}
#all-container .resourcewrapper .side-menu .subsection, #all-container .showwrapper .side-menu .subsection, #all-container .aboutwrapper .side-menu .subsection {
  margin-top: 60px;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  border-bottom: 1px solid;
}
#all-container .background-shifter {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.resourcecontainer, .showscontainer, .aboutcontainer {
  height: -webkit-calc(100% - 90px);
  height: calc(100% - 90px);
  width: 60%;
  max-width: 650px;
  position: relative;
  margin: 0px auto;
  top: 75px;
  left: 0px;
  display: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 1em;
  padding-bottom: 0px;
  overflow-y: scroll;
}
.resourcecontainer #step1, .resourcecontainer #step2, .resourcecontainer #step3, .resourcecontainer #step4, .resourcecontainer #step5, .resourcecontainer #step6, .resourcecontainer #step7, .resourcecontainer .steps, .resourcecontainer #show1, .resourcecontainer #show2, .resourcecontainer #show3, .resourcecontainer #show4, .resourcecontainer .shows, .resourcecontainer #about1, .resourcecontainer #about2, .resourcecontainer #about3, .resourcecontainer #about4, .resourcecontainer .aboutcat, .showscontainer #step1, .showscontainer #step2, .showscontainer #step3, .showscontainer #step4, .showscontainer #step5, .showscontainer #step6, .showscontainer #step7, .showscontainer .steps, .showscontainer #show1, .showscontainer #show2, .showscontainer #show3, .showscontainer #show4, .showscontainer .shows, .showscontainer #about1, .showscontainer #about2, .showscontainer #about3, .showscontainer #about4, .showscontainer .aboutcat, .aboutcontainer #step1, .aboutcontainer #step2, .aboutcontainer #step3, .aboutcontainer #step4, .aboutcontainer #step5, .aboutcontainer #step6, .aboutcontainer #step7, .aboutcontainer .steps, .aboutcontainer #show1, .aboutcontainer #show2, .aboutcontainer #show3, .aboutcontainer #show4, .aboutcontainer .shows, .aboutcontainer #about1, .aboutcontainer #about2, .aboutcontainer #about3, .aboutcontainer #about4, .aboutcontainer .aboutcat {
  position: relative;
  height: 100%;
  width: 100%;
  display: none;
}
.resourcecontainer #step1 a, .resourcecontainer #step2 a, .resourcecontainer #step3 a, .resourcecontainer #step4 a, .resourcecontainer #step5 a, .resourcecontainer #step6 a, .resourcecontainer #step7 a, .resourcecontainer .steps a, .resourcecontainer #show1 a, .resourcecontainer #show2 a, .resourcecontainer #show3 a, .resourcecontainer #show4 a, .resourcecontainer .shows a, .resourcecontainer #about1 a, .resourcecontainer #about2 a, .resourcecontainer #about3 a, .resourcecontainer #about4 a, .resourcecontainer .aboutcat a, .showscontainer #step1 a, .showscontainer #step2 a, .showscontainer #step3 a, .showscontainer #step4 a, .showscontainer #step5 a, .showscontainer #step6 a, .showscontainer #step7 a, .showscontainer .steps a, .showscontainer #show1 a, .showscontainer #show2 a, .showscontainer #show3 a, .showscontainer #show4 a, .showscontainer .shows a, .showscontainer #about1 a, .showscontainer #about2 a, .showscontainer #about3 a, .showscontainer #about4 a, .showscontainer .aboutcat a, .aboutcontainer #step1 a, .aboutcontainer #step2 a, .aboutcontainer #step3 a, .aboutcontainer #step4 a, .aboutcontainer #step5 a, .aboutcontainer #step6 a, .aboutcontainer #step7 a, .aboutcontainer .steps a, .aboutcontainer #show1 a, .aboutcontainer #show2 a, .aboutcontainer #show3 a, .aboutcontainer #show4 a, .aboutcontainer .shows a, .aboutcontainer #about1 a, .aboutcontainer #about2 a, .aboutcontainer #about3 a, .aboutcontainer #about4 a, .aboutcontainer .aboutcat a {
  text-decoration: none;
  color: #b07e1b;
}
.resourcecontainer #step1 p, .resourcecontainer #step2 p, .resourcecontainer #step3 p, .resourcecontainer #step4 p, .resourcecontainer #step5 p, .resourcecontainer #step6 p, .resourcecontainer #step7 p, .resourcecontainer .steps p, .resourcecontainer #show1 p, .resourcecontainer #show2 p, .resourcecontainer #show3 p, .resourcecontainer #show4 p, .resourcecontainer .shows p, .resourcecontainer #about1 p, .resourcecontainer #about2 p, .resourcecontainer #about3 p, .resourcecontainer #about4 p, .resourcecontainer .aboutcat p, .showscontainer #step1 p, .showscontainer #step2 p, .showscontainer #step3 p, .showscontainer #step4 p, .showscontainer #step5 p, .showscontainer #step6 p, .showscontainer #step7 p, .showscontainer .steps p, .showscontainer #show1 p, .showscontainer #show2 p, .showscontainer #show3 p, .showscontainer #show4 p, .showscontainer .shows p, .showscontainer #about1 p, .showscontainer #about2 p, .showscontainer #about3 p, .showscontainer #about4 p, .showscontainer .aboutcat p, .aboutcontainer #step1 p, .aboutcontainer #step2 p, .aboutcontainer #step3 p, .aboutcontainer #step4 p, .aboutcontainer #step5 p, .aboutcontainer #step6 p, .aboutcontainer #step7 p, .aboutcontainer .steps p, .aboutcontainer #show1 p, .aboutcontainer #show2 p, .aboutcontainer #show3 p, .aboutcontainer #show4 p, .aboutcontainer .shows p, .aboutcontainer #about1 p, .aboutcontainer #about2 p, .aboutcontainer #about3 p, .aboutcontainer #about4 p, .aboutcontainer .aboutcat p {
  width: 100%;
  margin-bottom: 20px;
}
.resourcecontainer #step1 .subheading, .resourcecontainer #step2 .subheading, .resourcecontainer #step3 .subheading, .resourcecontainer #step4 .subheading, .resourcecontainer #step5 .subheading, .resourcecontainer #step6 .subheading, .resourcecontainer #step7 .subheading, .resourcecontainer .steps .subheading, .resourcecontainer #show1 .subheading, .resourcecontainer #show2 .subheading, .resourcecontainer #show3 .subheading, .resourcecontainer #show4 .subheading, .resourcecontainer .shows .subheading, .resourcecontainer #about1 .subheading, .resourcecontainer #about2 .subheading, .resourcecontainer #about3 .subheading, .resourcecontainer #about4 .subheading, .resourcecontainer .aboutcat .subheading, .showscontainer #step1 .subheading, .showscontainer #step2 .subheading, .showscontainer #step3 .subheading, .showscontainer #step4 .subheading, .showscontainer #step5 .subheading, .showscontainer #step6 .subheading, .showscontainer #step7 .subheading, .showscontainer .steps .subheading, .showscontainer #show1 .subheading, .showscontainer #show2 .subheading, .showscontainer #show3 .subheading, .showscontainer #show4 .subheading, .showscontainer .shows .subheading, .showscontainer #about1 .subheading, .showscontainer #about2 .subheading, .showscontainer #about3 .subheading, .showscontainer #about4 .subheading, .showscontainer .aboutcat .subheading, .aboutcontainer #step1 .subheading, .aboutcontainer #step2 .subheading, .aboutcontainer #step3 .subheading, .aboutcontainer #step4 .subheading, .aboutcontainer #step5 .subheading, .aboutcontainer #step6 .subheading, .aboutcontainer #step7 .subheading, .aboutcontainer .steps .subheading, .aboutcontainer #show1 .subheading, .aboutcontainer #show2 .subheading, .aboutcontainer #show3 .subheading, .aboutcontainer #show4 .subheading, .aboutcontainer .shows .subheading, .aboutcontainer #about1 .subheading, .aboutcontainer #about2 .subheading, .aboutcontainer #about3 .subheading, .aboutcontainer #about4 .subheading, .aboutcontainer .aboutcat .subheading {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.resourcecontainer #step1 img, .resourcecontainer #step2 img, .resourcecontainer #step3 img, .resourcecontainer #step4 img, .resourcecontainer #step5 img, .resourcecontainer #step6 img, .resourcecontainer #step7 img, .resourcecontainer .steps img, .resourcecontainer #show1 img, .resourcecontainer #show2 img, .resourcecontainer #show3 img, .resourcecontainer #show4 img, .resourcecontainer .shows img, .resourcecontainer #about1 img, .resourcecontainer #about2 img, .resourcecontainer #about3 img, .resourcecontainer #about4 img, .resourcecontainer .aboutcat img, .showscontainer #step1 img, .showscontainer #step2 img, .showscontainer #step3 img, .showscontainer #step4 img, .showscontainer #step5 img, .showscontainer #step6 img, .showscontainer #step7 img, .showscontainer .steps img, .showscontainer #show1 img, .showscontainer #show2 img, .showscontainer #show3 img, .showscontainer #show4 img, .showscontainer .shows img, .showscontainer #about1 img, .showscontainer #about2 img, .showscontainer #about3 img, .showscontainer #about4 img, .showscontainer .aboutcat img, .aboutcontainer #step1 img, .aboutcontainer #step2 img, .aboutcontainer #step3 img, .aboutcontainer #step4 img, .aboutcontainer #step5 img, .aboutcontainer #step6 img, .aboutcontainer #step7 img, .aboutcontainer .steps img, .aboutcontainer #show1 img, .aboutcontainer #show2 img, .aboutcontainer #show3 img, .aboutcontainer #show4 img, .aboutcontainer .shows img, .aboutcontainer #about1 img, .aboutcontainer #about2 img, .aboutcontainer #about3 img, .aboutcontainer #about4 img, .aboutcontainer .aboutcat img {
  width: 60%;
  position: relative;
  margin-left: 20%;
  margin-top: 30px;
}
.resourcecontainer #step1 img#enlargedtile, .resourcecontainer #step2 img#enlargedtile, .resourcecontainer #step3 img#enlargedtile, .resourcecontainer #step4 img#enlargedtile, .resourcecontainer #step5 img#enlargedtile, .resourcecontainer #step6 img#enlargedtile, .resourcecontainer #step7 img#enlargedtile, .resourcecontainer .steps img#enlargedtile, .resourcecontainer #show1 img#enlargedtile, .resourcecontainer #show2 img#enlargedtile, .resourcecontainer #show3 img#enlargedtile, .resourcecontainer #show4 img#enlargedtile, .resourcecontainer .shows img#enlargedtile, .resourcecontainer #about1 img#enlargedtile, .resourcecontainer #about2 img#enlargedtile, .resourcecontainer #about3 img#enlargedtile, .resourcecontainer #about4 img#enlargedtile, .resourcecontainer .aboutcat img#enlargedtile, .showscontainer #step1 img#enlargedtile, .showscontainer #step2 img#enlargedtile, .showscontainer #step3 img#enlargedtile, .showscontainer #step4 img#enlargedtile, .showscontainer #step5 img#enlargedtile, .showscontainer #step6 img#enlargedtile, .showscontainer #step7 img#enlargedtile, .showscontainer .steps img#enlargedtile, .showscontainer #show1 img#enlargedtile, .showscontainer #show2 img#enlargedtile, .showscontainer #show3 img#enlargedtile, .showscontainer #show4 img#enlargedtile, .showscontainer .shows img#enlargedtile, .showscontainer #about1 img#enlargedtile, .showscontainer #about2 img#enlargedtile, .showscontainer #about3 img#enlargedtile, .showscontainer #about4 img#enlargedtile, .showscontainer .aboutcat img#enlargedtile, .aboutcontainer #step1 img#enlargedtile, .aboutcontainer #step2 img#enlargedtile, .aboutcontainer #step3 img#enlargedtile, .aboutcontainer #step4 img#enlargedtile, .aboutcontainer #step5 img#enlargedtile, .aboutcontainer #step6 img#enlargedtile, .aboutcontainer #step7 img#enlargedtile, .aboutcontainer .steps img#enlargedtile, .aboutcontainer #show1 img#enlargedtile, .aboutcontainer #show2 img#enlargedtile, .aboutcontainer #show3 img#enlargedtile, .aboutcontainer #show4 img#enlargedtile, .aboutcontainer .shows img#enlargedtile, .aboutcontainer #about1 img#enlargedtile, .aboutcontainer #about2 img#enlargedtile, .aboutcontainer #about3 img#enlargedtile, .aboutcontainer #about4 img#enlargedtile, .aboutcontainer .aboutcat img#enlargedtile {
  width: 100%;
  margin: 0%;
  margin-bottom: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.resourcecontainer #step1 img#enlargedtile.changing, .resourcecontainer #step2 img#enlargedtile.changing, .resourcecontainer #step3 img#enlargedtile.changing, .resourcecontainer #step4 img#enlargedtile.changing, .resourcecontainer #step5 img#enlargedtile.changing, .resourcecontainer #step6 img#enlargedtile.changing, .resourcecontainer #step7 img#enlargedtile.changing, .resourcecontainer .steps img#enlargedtile.changing, .resourcecontainer #show1 img#enlargedtile.changing, .resourcecontainer #show2 img#enlargedtile.changing, .resourcecontainer #show3 img#enlargedtile.changing, .resourcecontainer #show4 img#enlargedtile.changing, .resourcecontainer .shows img#enlargedtile.changing, .resourcecontainer #about1 img#enlargedtile.changing, .resourcecontainer #about2 img#enlargedtile.changing, .resourcecontainer #about3 img#enlargedtile.changing, .resourcecontainer #about4 img#enlargedtile.changing, .resourcecontainer .aboutcat img#enlargedtile.changing, .showscontainer #step1 img#enlargedtile.changing, .showscontainer #step2 img#enlargedtile.changing, .showscontainer #step3 img#enlargedtile.changing, .showscontainer #step4 img#enlargedtile.changing, .showscontainer #step5 img#enlargedtile.changing, .showscontainer #step6 img#enlargedtile.changing, .showscontainer #step7 img#enlargedtile.changing, .showscontainer .steps img#enlargedtile.changing, .showscontainer #show1 img#enlargedtile.changing, .showscontainer #show2 img#enlargedtile.changing, .showscontainer #show3 img#enlargedtile.changing, .showscontainer #show4 img#enlargedtile.changing, .showscontainer .shows img#enlargedtile.changing, .showscontainer #about1 img#enlargedtile.changing, .showscontainer #about2 img#enlargedtile.changing, .showscontainer #about3 img#enlargedtile.changing, .showscontainer #about4 img#enlargedtile.changing, .showscontainer .aboutcat img#enlargedtile.changing, .aboutcontainer #step1 img#enlargedtile.changing, .aboutcontainer #step2 img#enlargedtile.changing, .aboutcontainer #step3 img#enlargedtile.changing, .aboutcontainer #step4 img#enlargedtile.changing, .aboutcontainer #step5 img#enlargedtile.changing, .aboutcontainer #step6 img#enlargedtile.changing, .aboutcontainer #step7 img#enlargedtile.changing, .aboutcontainer .steps img#enlargedtile.changing, .aboutcontainer #show1 img#enlargedtile.changing, .aboutcontainer #show2 img#enlargedtile.changing, .aboutcontainer #show3 img#enlargedtile.changing, .aboutcontainer #show4 img#enlargedtile.changing, .aboutcontainer .shows img#enlargedtile.changing, .aboutcontainer #about1 img#enlargedtile.changing, .aboutcontainer #about2 img#enlargedtile.changing, .aboutcontainer #about3 img#enlargedtile.changing, .aboutcontainer #about4 img#enlargedtile.changing, .aboutcontainer .aboutcat img#enlargedtile.changing {
  opacity: 0;
}
.resourcecontainer #step1 .videoWrapper, .resourcecontainer #step2 .videoWrapper, .resourcecontainer #step3 .videoWrapper, .resourcecontainer #step4 .videoWrapper, .resourcecontainer #step5 .videoWrapper, .resourcecontainer #step6 .videoWrapper, .resourcecontainer #step7 .videoWrapper, .resourcecontainer .steps .videoWrapper, .resourcecontainer #show1 .videoWrapper, .resourcecontainer #show2 .videoWrapper, .resourcecontainer #show3 .videoWrapper, .resourcecontainer #show4 .videoWrapper, .resourcecontainer .shows .videoWrapper, .resourcecontainer #about1 .videoWrapper, .resourcecontainer #about2 .videoWrapper, .resourcecontainer #about3 .videoWrapper, .resourcecontainer #about4 .videoWrapper, .resourcecontainer .aboutcat .videoWrapper, .showscontainer #step1 .videoWrapper, .showscontainer #step2 .videoWrapper, .showscontainer #step3 .videoWrapper, .showscontainer #step4 .videoWrapper, .showscontainer #step5 .videoWrapper, .showscontainer #step6 .videoWrapper, .showscontainer #step7 .videoWrapper, .showscontainer .steps .videoWrapper, .showscontainer #show1 .videoWrapper, .showscontainer #show2 .videoWrapper, .showscontainer #show3 .videoWrapper, .showscontainer #show4 .videoWrapper, .showscontainer .shows .videoWrapper, .showscontainer #about1 .videoWrapper, .showscontainer #about2 .videoWrapper, .showscontainer #about3 .videoWrapper, .showscontainer #about4 .videoWrapper, .showscontainer .aboutcat .videoWrapper, .aboutcontainer #step1 .videoWrapper, .aboutcontainer #step2 .videoWrapper, .aboutcontainer #step3 .videoWrapper, .aboutcontainer #step4 .videoWrapper, .aboutcontainer #step5 .videoWrapper, .aboutcontainer #step6 .videoWrapper, .aboutcontainer #step7 .videoWrapper, .aboutcontainer .steps .videoWrapper, .aboutcontainer #show1 .videoWrapper, .aboutcontainer #show2 .videoWrapper, .aboutcontainer #show3 .videoWrapper, .aboutcontainer #show4 .videoWrapper, .aboutcontainer .shows .videoWrapper, .aboutcontainer #about1 .videoWrapper, .aboutcontainer #about2 .videoWrapper, .aboutcontainer #about3 .videoWrapper, .aboutcontainer #about4 .videoWrapper, .aboutcontainer .aboutcat .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 1em;
  margin-top: 1em;
}
.resourcecontainer #step1 .videoWrapper iframe, .resourcecontainer #step2 .videoWrapper iframe, .resourcecontainer #step3 .videoWrapper iframe, .resourcecontainer #step4 .videoWrapper iframe, .resourcecontainer #step5 .videoWrapper iframe, .resourcecontainer #step6 .videoWrapper iframe, .resourcecontainer #step7 .videoWrapper iframe, .resourcecontainer .steps .videoWrapper iframe, .resourcecontainer #show1 .videoWrapper iframe, .resourcecontainer #show2 .videoWrapper iframe, .resourcecontainer #show3 .videoWrapper iframe, .resourcecontainer #show4 .videoWrapper iframe, .resourcecontainer .shows .videoWrapper iframe, .resourcecontainer #about1 .videoWrapper iframe, .resourcecontainer #about2 .videoWrapper iframe, .resourcecontainer #about3 .videoWrapper iframe, .resourcecontainer #about4 .videoWrapper iframe, .resourcecontainer .aboutcat .videoWrapper iframe, .showscontainer #step1 .videoWrapper iframe, .showscontainer #step2 .videoWrapper iframe, .showscontainer #step3 .videoWrapper iframe, .showscontainer #step4 .videoWrapper iframe, .showscontainer #step5 .videoWrapper iframe, .showscontainer #step6 .videoWrapper iframe, .showscontainer #step7 .videoWrapper iframe, .showscontainer .steps .videoWrapper iframe, .showscontainer #show1 .videoWrapper iframe, .showscontainer #show2 .videoWrapper iframe, .showscontainer #show3 .videoWrapper iframe, .showscontainer #show4 .videoWrapper iframe, .showscontainer .shows .videoWrapper iframe, .showscontainer #about1 .videoWrapper iframe, .showscontainer #about2 .videoWrapper iframe, .showscontainer #about3 .videoWrapper iframe, .showscontainer #about4 .videoWrapper iframe, .showscontainer .aboutcat .videoWrapper iframe, .aboutcontainer #step1 .videoWrapper iframe, .aboutcontainer #step2 .videoWrapper iframe, .aboutcontainer #step3 .videoWrapper iframe, .aboutcontainer #step4 .videoWrapper iframe, .aboutcontainer #step5 .videoWrapper iframe, .aboutcontainer #step6 .videoWrapper iframe, .aboutcontainer #step7 .videoWrapper iframe, .aboutcontainer .steps .videoWrapper iframe, .aboutcontainer #show1 .videoWrapper iframe, .aboutcontainer #show2 .videoWrapper iframe, .aboutcontainer #show3 .videoWrapper iframe, .aboutcontainer #show4 .videoWrapper iframe, .aboutcontainer .shows .videoWrapper iframe, .aboutcontainer #about1 .videoWrapper iframe, .aboutcontainer #about2 .videoWrapper iframe, .aboutcontainer #about3 .videoWrapper iframe, .aboutcontainer #about4 .videoWrapper iframe, .aboutcontainer .aboutcat .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.resourcecontainer #step1 h1, .resourcecontainer #step2 h1, .resourcecontainer #step3 h1, .resourcecontainer #step4 h1, .resourcecontainer #step5 h1, .resourcecontainer #step6 h1, .resourcecontainer #step7 h1, .resourcecontainer .steps h1, .resourcecontainer #show1 h1, .resourcecontainer #show2 h1, .resourcecontainer #show3 h1, .resourcecontainer #show4 h1, .resourcecontainer .shows h1, .resourcecontainer #about1 h1, .resourcecontainer #about2 h1, .resourcecontainer #about3 h1, .resourcecontainer #about4 h1, .resourcecontainer .aboutcat h1, .showscontainer #step1 h1, .showscontainer #step2 h1, .showscontainer #step3 h1, .showscontainer #step4 h1, .showscontainer #step5 h1, .showscontainer #step6 h1, .showscontainer #step7 h1, .showscontainer .steps h1, .showscontainer #show1 h1, .showscontainer #show2 h1, .showscontainer #show3 h1, .showscontainer #show4 h1, .showscontainer .shows h1, .showscontainer #about1 h1, .showscontainer #about2 h1, .showscontainer #about3 h1, .showscontainer #about4 h1, .showscontainer .aboutcat h1, .aboutcontainer #step1 h1, .aboutcontainer #step2 h1, .aboutcontainer #step3 h1, .aboutcontainer #step4 h1, .aboutcontainer #step5 h1, .aboutcontainer #step6 h1, .aboutcontainer #step7 h1, .aboutcontainer .steps h1, .aboutcontainer #show1 h1, .aboutcontainer #show2 h1, .aboutcontainer #show3 h1, .aboutcontainer #show4 h1, .aboutcontainer .shows h1, .aboutcontainer #about1 h1, .aboutcontainer #about2 h1, .aboutcontainer #about3 h1, .aboutcontainer #about4 h1, .aboutcontainer .aboutcat h1 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  border-bottom: 2px solid;
  border-top: 2px solid;
}
.resourcecontainer #step1 h1 .secondary, .resourcecontainer #step2 h1 .secondary, .resourcecontainer #step3 h1 .secondary, .resourcecontainer #step4 h1 .secondary, .resourcecontainer #step5 h1 .secondary, .resourcecontainer #step6 h1 .secondary, .resourcecontainer #step7 h1 .secondary, .resourcecontainer .steps h1 .secondary, .resourcecontainer #show1 h1 .secondary, .resourcecontainer #show2 h1 .secondary, .resourcecontainer #show3 h1 .secondary, .resourcecontainer #show4 h1 .secondary, .resourcecontainer .shows h1 .secondary, .resourcecontainer #about1 h1 .secondary, .resourcecontainer #about2 h1 .secondary, .resourcecontainer #about3 h1 .secondary, .resourcecontainer #about4 h1 .secondary, .resourcecontainer .aboutcat h1 .secondary, .showscontainer #step1 h1 .secondary, .showscontainer #step2 h1 .secondary, .showscontainer #step3 h1 .secondary, .showscontainer #step4 h1 .secondary, .showscontainer #step5 h1 .secondary, .showscontainer #step6 h1 .secondary, .showscontainer #step7 h1 .secondary, .showscontainer .steps h1 .secondary, .showscontainer #show1 h1 .secondary, .showscontainer #show2 h1 .secondary, .showscontainer #show3 h1 .secondary, .showscontainer #show4 h1 .secondary, .showscontainer .shows h1 .secondary, .showscontainer #about1 h1 .secondary, .showscontainer #about2 h1 .secondary, .showscontainer #about3 h1 .secondary, .showscontainer #about4 h1 .secondary, .showscontainer .aboutcat h1 .secondary, .aboutcontainer #step1 h1 .secondary, .aboutcontainer #step2 h1 .secondary, .aboutcontainer #step3 h1 .secondary, .aboutcontainer #step4 h1 .secondary, .aboutcontainer #step5 h1 .secondary, .aboutcontainer #step6 h1 .secondary, .aboutcontainer #step7 h1 .secondary, .aboutcontainer .steps h1 .secondary, .aboutcontainer #show1 h1 .secondary, .aboutcontainer #show2 h1 .secondary, .aboutcontainer #show3 h1 .secondary, .aboutcontainer #show4 h1 .secondary, .aboutcontainer .shows h1 .secondary, .aboutcontainer #about1 h1 .secondary, .aboutcontainer #about2 h1 .secondary, .aboutcontainer #about3 h1 .secondary, .aboutcontainer #about4 h1 .secondary, .aboutcontainer .aboutcat h1 .secondary {
  font-size: 0.75em;
}
.resourcecontainer #step1 ol, .resourcecontainer #step2 ol, .resourcecontainer #step3 ol, .resourcecontainer #step4 ol, .resourcecontainer #step5 ol, .resourcecontainer #step6 ol, .resourcecontainer #step7 ol, .resourcecontainer .steps ol, .resourcecontainer #show1 ol, .resourcecontainer #show2 ol, .resourcecontainer #show3 ol, .resourcecontainer #show4 ol, .resourcecontainer .shows ol, .resourcecontainer #about1 ol, .resourcecontainer #about2 ol, .resourcecontainer #about3 ol, .resourcecontainer #about4 ol, .resourcecontainer .aboutcat ol, .showscontainer #step1 ol, .showscontainer #step2 ol, .showscontainer #step3 ol, .showscontainer #step4 ol, .showscontainer #step5 ol, .showscontainer #step6 ol, .showscontainer #step7 ol, .showscontainer .steps ol, .showscontainer #show1 ol, .showscontainer #show2 ol, .showscontainer #show3 ol, .showscontainer #show4 ol, .showscontainer .shows ol, .showscontainer #about1 ol, .showscontainer #about2 ol, .showscontainer #about3 ol, .showscontainer #about4 ol, .showscontainer .aboutcat ol, .aboutcontainer #step1 ol, .aboutcontainer #step2 ol, .aboutcontainer #step3 ol, .aboutcontainer #step4 ol, .aboutcontainer #step5 ol, .aboutcontainer #step6 ol, .aboutcontainer #step7 ol, .aboutcontainer .steps ol, .aboutcontainer #show1 ol, .aboutcontainer #show2 ol, .aboutcontainer #show3 ol, .aboutcontainer #show4 ol, .aboutcontainer .shows ol, .aboutcontainer #about1 ol, .aboutcontainer #about2 ol, .aboutcontainer #about3 ol, .aboutcontainer #about4 ol, .aboutcontainer .aboutcat ol {
  margin-bottom: 6em;
}
.resourcecontainer #step1 ol li, .resourcecontainer #step2 ol li, .resourcecontainer #step3 ol li, .resourcecontainer #step4 ol li, .resourcecontainer #step5 ol li, .resourcecontainer #step6 ol li, .resourcecontainer #step7 ol li, .resourcecontainer .steps ol li, .resourcecontainer #show1 ol li, .resourcecontainer #show2 ol li, .resourcecontainer #show3 ol li, .resourcecontainer #show4 ol li, .resourcecontainer .shows ol li, .resourcecontainer #about1 ol li, .resourcecontainer #about2 ol li, .resourcecontainer #about3 ol li, .resourcecontainer #about4 ol li, .resourcecontainer .aboutcat ol li, .showscontainer #step1 ol li, .showscontainer #step2 ol li, .showscontainer #step3 ol li, .showscontainer #step4 ol li, .showscontainer #step5 ol li, .showscontainer #step6 ol li, .showscontainer #step7 ol li, .showscontainer .steps ol li, .showscontainer #show1 ol li, .showscontainer #show2 ol li, .showscontainer #show3 ol li, .showscontainer #show4 ol li, .showscontainer .shows ol li, .showscontainer #about1 ol li, .showscontainer #about2 ol li, .showscontainer #about3 ol li, .showscontainer #about4 ol li, .showscontainer .aboutcat ol li, .aboutcontainer #step1 ol li, .aboutcontainer #step2 ol li, .aboutcontainer #step3 ol li, .aboutcontainer #step4 ol li, .aboutcontainer #step5 ol li, .aboutcontainer #step6 ol li, .aboutcontainer #step7 ol li, .aboutcontainer .steps ol li, .aboutcontainer #show1 ol li, .aboutcontainer #show2 ol li, .aboutcontainer #show3 ol li, .aboutcontainer #show4 ol li, .aboutcontainer .shows ol li, .aboutcontainer #about1 ol li, .aboutcontainer #about2 ol li, .aboutcontainer #about3 ol li, .aboutcontainer #about4 ol li, .aboutcontainer .aboutcat ol li {
  margin-bottom: 0.75em;
}
.resourcecontainer #step1 ol li ol, .resourcecontainer #step2 ol li ol, .resourcecontainer #step3 ol li ol, .resourcecontainer #step4 ol li ol, .resourcecontainer #step5 ol li ol, .resourcecontainer #step6 ol li ol, .resourcecontainer #step7 ol li ol, .resourcecontainer .steps ol li ol, .resourcecontainer #show1 ol li ol, .resourcecontainer #show2 ol li ol, .resourcecontainer #show3 ol li ol, .resourcecontainer #show4 ol li ol, .resourcecontainer .shows ol li ol, .resourcecontainer #about1 ol li ol, .resourcecontainer #about2 ol li ol, .resourcecontainer #about3 ol li ol, .resourcecontainer #about4 ol li ol, .resourcecontainer .aboutcat ol li ol, .showscontainer #step1 ol li ol, .showscontainer #step2 ol li ol, .showscontainer #step3 ol li ol, .showscontainer #step4 ol li ol, .showscontainer #step5 ol li ol, .showscontainer #step6 ol li ol, .showscontainer #step7 ol li ol, .showscontainer .steps ol li ol, .showscontainer #show1 ol li ol, .showscontainer #show2 ol li ol, .showscontainer #show3 ol li ol, .showscontainer #show4 ol li ol, .showscontainer .shows ol li ol, .showscontainer #about1 ol li ol, .showscontainer #about2 ol li ol, .showscontainer #about3 ol li ol, .showscontainer #about4 ol li ol, .showscontainer .aboutcat ol li ol, .aboutcontainer #step1 ol li ol, .aboutcontainer #step2 ol li ol, .aboutcontainer #step3 ol li ol, .aboutcontainer #step4 ol li ol, .aboutcontainer #step5 ol li ol, .aboutcontainer #step6 ol li ol, .aboutcontainer #step7 ol li ol, .aboutcontainer .steps ol li ol, .aboutcontainer #show1 ol li ol, .aboutcontainer #show2 ol li ol, .aboutcontainer #show3 ol li ol, .aboutcontainer #show4 ol li ol, .aboutcontainer .shows ol li ol, .aboutcontainer #about1 ol li ol, .aboutcontainer #about2 ol li ol, .aboutcontainer #about3 ol li ol, .aboutcontainer #about4 ol li ol, .aboutcontainer .aboutcat ol li ol {
  padding-top: 1em;
}
.resourcecontainer #step1 ol li ol li, .resourcecontainer #step2 ol li ol li, .resourcecontainer #step3 ol li ol li, .resourcecontainer #step4 ol li ol li, .resourcecontainer #step5 ol li ol li, .resourcecontainer #step6 ol li ol li, .resourcecontainer #step7 ol li ol li, .resourcecontainer .steps ol li ol li, .resourcecontainer #show1 ol li ol li, .resourcecontainer #show2 ol li ol li, .resourcecontainer #show3 ol li ol li, .resourcecontainer #show4 ol li ol li, .resourcecontainer .shows ol li ol li, .resourcecontainer #about1 ol li ol li, .resourcecontainer #about2 ol li ol li, .resourcecontainer #about3 ol li ol li, .resourcecontainer #about4 ol li ol li, .resourcecontainer .aboutcat ol li ol li, .showscontainer #step1 ol li ol li, .showscontainer #step2 ol li ol li, .showscontainer #step3 ol li ol li, .showscontainer #step4 ol li ol li, .showscontainer #step5 ol li ol li, .showscontainer #step6 ol li ol li, .showscontainer #step7 ol li ol li, .showscontainer .steps ol li ol li, .showscontainer #show1 ol li ol li, .showscontainer #show2 ol li ol li, .showscontainer #show3 ol li ol li, .showscontainer #show4 ol li ol li, .showscontainer .shows ol li ol li, .showscontainer #about1 ol li ol li, .showscontainer #about2 ol li ol li, .showscontainer #about3 ol li ol li, .showscontainer #about4 ol li ol li, .showscontainer .aboutcat ol li ol li, .aboutcontainer #step1 ol li ol li, .aboutcontainer #step2 ol li ol li, .aboutcontainer #step3 ol li ol li, .aboutcontainer #step4 ol li ol li, .aboutcontainer #step5 ol li ol li, .aboutcontainer #step6 ol li ol li, .aboutcontainer #step7 ol li ol li, .aboutcontainer .steps ol li ol li, .aboutcontainer #show1 ol li ol li, .aboutcontainer #show2 ol li ol li, .aboutcontainer #show3 ol li ol li, .aboutcontainer #show4 ol li ol li, .aboutcontainer .shows ol li ol li, .aboutcontainer #about1 ol li ol li, .aboutcontainer #about2 ol li ol li, .aboutcontainer #about3 ol li ol li, .aboutcontainer #about4 ol li ol li, .aboutcontainer .aboutcat ol li ol li {
  margin-bottom: 0.75em;
}
.resourcecontainer #step1 #mosaic, .resourcecontainer #step2 #mosaic, .resourcecontainer #step3 #mosaic, .resourcecontainer #step4 #mosaic, .resourcecontainer #step5 #mosaic, .resourcecontainer #step6 #mosaic, .resourcecontainer #step7 #mosaic, .resourcecontainer .steps #mosaic, .resourcecontainer #show1 #mosaic, .resourcecontainer #show2 #mosaic, .resourcecontainer #show3 #mosaic, .resourcecontainer #show4 #mosaic, .resourcecontainer .shows #mosaic, .resourcecontainer #about1 #mosaic, .resourcecontainer #about2 #mosaic, .resourcecontainer #about3 #mosaic, .resourcecontainer #about4 #mosaic, .resourcecontainer .aboutcat #mosaic, .showscontainer #step1 #mosaic, .showscontainer #step2 #mosaic, .showscontainer #step3 #mosaic, .showscontainer #step4 #mosaic, .showscontainer #step5 #mosaic, .showscontainer #step6 #mosaic, .showscontainer #step7 #mosaic, .showscontainer .steps #mosaic, .showscontainer #show1 #mosaic, .showscontainer #show2 #mosaic, .showscontainer #show3 #mosaic, .showscontainer #show4 #mosaic, .showscontainer .shows #mosaic, .showscontainer #about1 #mosaic, .showscontainer #about2 #mosaic, .showscontainer #about3 #mosaic, .showscontainer #about4 #mosaic, .showscontainer .aboutcat #mosaic, .aboutcontainer #step1 #mosaic, .aboutcontainer #step2 #mosaic, .aboutcontainer #step3 #mosaic, .aboutcontainer #step4 #mosaic, .aboutcontainer #step5 #mosaic, .aboutcontainer #step6 #mosaic, .aboutcontainer #step7 #mosaic, .aboutcontainer .steps #mosaic, .aboutcontainer #show1 #mosaic, .aboutcontainer #show2 #mosaic, .aboutcontainer #show3 #mosaic, .aboutcontainer #show4 #mosaic, .aboutcontainer .shows #mosaic, .aboutcontainer #about1 #mosaic, .aboutcontainer #about2 #mosaic, .aboutcontainer #about3 #mosaic, .aboutcontainer #about4 #mosaic, .aboutcontainer .aboutcat #mosaic {
  width: 100%;
  padding: 0px;
  height: 500px;
}
.resourcecontainer #step1 #mosaic div, .resourcecontainer #step2 #mosaic div, .resourcecontainer #step3 #mosaic div, .resourcecontainer #step4 #mosaic div, .resourcecontainer #step5 #mosaic div, .resourcecontainer #step6 #mosaic div, .resourcecontainer #step7 #mosaic div, .resourcecontainer .steps #mosaic div, .resourcecontainer #show1 #mosaic div, .resourcecontainer #show2 #mosaic div, .resourcecontainer #show3 #mosaic div, .resourcecontainer #show4 #mosaic div, .resourcecontainer .shows #mosaic div, .resourcecontainer #about1 #mosaic div, .resourcecontainer #about2 #mosaic div, .resourcecontainer #about3 #mosaic div, .resourcecontainer #about4 #mosaic div, .resourcecontainer .aboutcat #mosaic div, .showscontainer #step1 #mosaic div, .showscontainer #step2 #mosaic div, .showscontainer #step3 #mosaic div, .showscontainer #step4 #mosaic div, .showscontainer #step5 #mosaic div, .showscontainer #step6 #mosaic div, .showscontainer #step7 #mosaic div, .showscontainer .steps #mosaic div, .showscontainer #show1 #mosaic div, .showscontainer #show2 #mosaic div, .showscontainer #show3 #mosaic div, .showscontainer #show4 #mosaic div, .showscontainer .shows #mosaic div, .showscontainer #about1 #mosaic div, .showscontainer #about2 #mosaic div, .showscontainer #about3 #mosaic div, .showscontainer #about4 #mosaic div, .showscontainer .aboutcat #mosaic div, .aboutcontainer #step1 #mosaic div, .aboutcontainer #step2 #mosaic div, .aboutcontainer #step3 #mosaic div, .aboutcontainer #step4 #mosaic div, .aboutcontainer #step5 #mosaic div, .aboutcontainer #step6 #mosaic div, .aboutcontainer #step7 #mosaic div, .aboutcontainer .steps #mosaic div, .aboutcontainer #show1 #mosaic div, .aboutcontainer #show2 #mosaic div, .aboutcontainer #show3 #mosaic div, .aboutcontainer #show4 #mosaic div, .aboutcontainer .shows #mosaic div, .aboutcontainer #about1 #mosaic div, .aboutcontainer #about2 #mosaic div, .aboutcontainer #about3 #mosaic div, .aboutcontainer #about4 #mosaic div, .aboutcontainer .aboutcat #mosaic div {
  width: 33.3%;
  float: left;
  height: 33.3%;
  position: relative;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.resourcecontainer #step1 #mosaic div:hover, .resourcecontainer #step1 #mosaic div:active, .resourcecontainer #step2 #mosaic div:hover, .resourcecontainer #step2 #mosaic div:active, .resourcecontainer #step3 #mosaic div:hover, .resourcecontainer #step3 #mosaic div:active, .resourcecontainer #step4 #mosaic div:hover, .resourcecontainer #step4 #mosaic div:active, .resourcecontainer #step5 #mosaic div:hover, .resourcecontainer #step5 #mosaic div:active, .resourcecontainer #step6 #mosaic div:hover, .resourcecontainer #step6 #mosaic div:active, .resourcecontainer #step7 #mosaic div:hover, .resourcecontainer #step7 #mosaic div:active, .resourcecontainer .steps #mosaic div:hover, .resourcecontainer .steps #mosaic div:active, .resourcecontainer #show1 #mosaic div:hover, .resourcecontainer #show1 #mosaic div:active, .resourcecontainer #show2 #mosaic div:hover, .resourcecontainer #show2 #mosaic div:active, .resourcecontainer #show3 #mosaic div:hover, .resourcecontainer #show3 #mosaic div:active, .resourcecontainer #show4 #mosaic div:hover, .resourcecontainer #show4 #mosaic div:active, .resourcecontainer .shows #mosaic div:hover, .resourcecontainer .shows #mosaic div:active, .resourcecontainer #about1 #mosaic div:hover, .resourcecontainer #about1 #mosaic div:active, .resourcecontainer #about2 #mosaic div:hover, .resourcecontainer #about2 #mosaic div:active, .resourcecontainer #about3 #mosaic div:hover, .resourcecontainer #about3 #mosaic div:active, .resourcecontainer #about4 #mosaic div:hover, .resourcecontainer #about4 #mosaic div:active, .resourcecontainer .aboutcat #mosaic div:hover, .resourcecontainer .aboutcat #mosaic div:active, .showscontainer #step1 #mosaic div:hover, .showscontainer #step1 #mosaic div:active, .showscontainer #step2 #mosaic div:hover, .showscontainer #step2 #mosaic div:active, .showscontainer #step3 #mosaic div:hover, .showscontainer #step3 #mosaic div:active, .showscontainer #step4 #mosaic div:hover, .showscontainer #step4 #mosaic div:active, .showscontainer #step5 #mosaic div:hover, .showscontainer #step5 #mosaic div:active, .showscontainer #step6 #mosaic div:hover, .showscontainer #step6 #mosaic div:active, .showscontainer #step7 #mosaic div:hover, .showscontainer #step7 #mosaic div:active, .showscontainer .steps #mosaic div:hover, .showscontainer .steps #mosaic div:active, .showscontainer #show1 #mosaic div:hover, .showscontainer #show1 #mosaic div:active, .showscontainer #show2 #mosaic div:hover, .showscontainer #show2 #mosaic div:active, .showscontainer #show3 #mosaic div:hover, .showscontainer #show3 #mosaic div:active, .showscontainer #show4 #mosaic div:hover, .showscontainer #show4 #mosaic div:active, .showscontainer .shows #mosaic div:hover, .showscontainer .shows #mosaic div:active, .showscontainer #about1 #mosaic div:hover, .showscontainer #about1 #mosaic div:active, .showscontainer #about2 #mosaic div:hover, .showscontainer #about2 #mosaic div:active, .showscontainer #about3 #mosaic div:hover, .showscontainer #about3 #mosaic div:active, .showscontainer #about4 #mosaic div:hover, .showscontainer #about4 #mosaic div:active, .showscontainer .aboutcat #mosaic div:hover, .showscontainer .aboutcat #mosaic div:active, .aboutcontainer #step1 #mosaic div:hover, .aboutcontainer #step1 #mosaic div:active, .aboutcontainer #step2 #mosaic div:hover, .aboutcontainer #step2 #mosaic div:active, .aboutcontainer #step3 #mosaic div:hover, .aboutcontainer #step3 #mosaic div:active, .aboutcontainer #step4 #mosaic div:hover, .aboutcontainer #step4 #mosaic div:active, .aboutcontainer #step5 #mosaic div:hover, .aboutcontainer #step5 #mosaic div:active, .aboutcontainer #step6 #mosaic div:hover, .aboutcontainer #step6 #mosaic div:active, .aboutcontainer #step7 #mosaic div:hover, .aboutcontainer #step7 #mosaic div:active, .aboutcontainer .steps #mosaic div:hover, .aboutcontainer .steps #mosaic div:active, .aboutcontainer #show1 #mosaic div:hover, .aboutcontainer #show1 #mosaic div:active, .aboutcontainer #show2 #mosaic div:hover, .aboutcontainer #show2 #mosaic div:active, .aboutcontainer #show3 #mosaic div:hover, .aboutcontainer #show3 #mosaic div:active, .aboutcontainer #show4 #mosaic div:hover, .aboutcontainer #show4 #mosaic div:active, .aboutcontainer .shows #mosaic div:hover, .aboutcontainer .shows #mosaic div:active, .aboutcontainer #about1 #mosaic div:hover, .aboutcontainer #about1 #mosaic div:active, .aboutcontainer #about2 #mosaic div:hover, .aboutcontainer #about2 #mosaic div:active, .aboutcontainer #about3 #mosaic div:hover, .aboutcontainer #about3 #mosaic div:active, .aboutcontainer #about4 #mosaic div:hover, .aboutcontainer #about4 #mosaic div:active, .aboutcontainer .aboutcat #mosaic div:hover, .aboutcontainer .aboutcat #mosaic div:active {
  opacity: 0.5;
}

#milestones {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  left: 0px;
  background: black;
  color: white;
  display: none !important;
}

#milestone-dates {
  display: none !important;
  position: absolute;
  width: 100%;
  bottom: 60px;
  height: 40px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
}

#fullscreen-background {
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  width: 100%;
  height: 100%;
  display: none;
}
#fullscreen-background img {
  width: 100%;
}

.milestone {
  position: absolute;
  font-size: 0.8em;
  border-bottom: 1px solid;
  display: none;
  padding: 0 10px 0 10px;
}

.milestone-year {
  position: absolute;
  font-size: 0.8em;
  padding-left: 2px;
}

.milestone-edge {
  position: absolute;
  height: 45px;
  width: 1px;
  background: rgba(255, 212, 30, 0.9);
  color: black;
}

.milestone-marker {
  position: absolute;
  background: #550000;
  width: 0px;
  left: 0px;
  height: 48px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.bottom-shelf {
  -webkit-transition: all 1s;
  transition: all 1s;
}

#header {
  position: absolute;
  left: 480px;
  top: 0px;
  height: 100px;
  padding: 0px;
}
@media (max-width: 598px), (max-height: 500px) {
  #header {
    left: 0px;
    top: 20px;
    font-size: 3vw;
  }
  #header ul li {
    width: auto;
    margin-right: 1em;
  }
}
#header ul {
  list-style: none;
  margin: 0px;
  float: left;
  padding: 0px;
}
#header ul li {
  padding: 0px;
  float: left;
  width: 180px;
  height: 80px;
  color: black;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#header ul li:hover {
  color: #b07e1b;
}
#header ul p {
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 25px;
  width: 140px;
  text-align: center;
  text-decoration: none;
}
#header ul p.btn-active {
  color: #b07e1b;
}
#header ul.btn-active {
  color: #b07e1b !important;
}

#logo-main {
  position: absolute;
  left: 95px;
  top: 10px;
  width: 20%;
}
@media (max-width: 598px), (max-height: 500px) {
  #logo-main {
    width: 200px;
  }
}

.lineimg {
  position: absolute;
  width: 100%;
  top: 10px;
}
@media (max-width: 598px), (max-height: 500px) {
  .lineimg {
    display: none;
  }
}

.text-bucket, .content-bucket {
  position: relative;
  width: 60%;
  max-width: 650px;
  margin: 0px auto;
  top: 75px;
  height: -webkit-calc(100% - 75px);
  height: calc(100% - 75px);
  padding: 0em;
  padding-top: 0em;
  background: rgba(255, 255, 255, 0.6);
  color: black;
  font-size: 1.5em;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.text-bucket.intro, .content-bucket.intro {
  opacity: 0;
}
.text-bucket.intro .content, .content-bucket.intro .content {
  padding: 0em 1em 75px 1em;
}
.text-bucket.intro .content p, .content-bucket.intro .content p {
  font-size: 0.8em;
  line-height: 1.45em;
}
.text-bucket.intro .content ul, .content-bucket.intro .content ul {
  font-size: 0.8em;
  padding-left: 0px;
}
.text-bucket.intro .content ul li, .content-bucket.intro .content ul li {
  list-style: none;
}
.text-bucket.active, .content-bucket.active {
  opacity: 1;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
@media (max-width: 598px), (max-height: 500px) {
  .text-bucket, .content-bucket {
    font-size: 3.5vw;
  }
}
.text-bucket .exitbtn, .content-bucket .exitbtn {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.25em;
  padding-left: 0px;
  text-align: center;
  height: 35px;
  width: 32.5px;
  z-index: 100;
  color: black;
  background-color: white;
}
.text-bucket .credit, .content-bucket .credit {
  margin-top: 1em;
  font-size: 0.7em;
}
.text-bucket .credit i, .content-bucket .credit i {
  font-size: 1em;
}
.text-bucket .wrapper .titleblock, .content-bucket .wrapper .titleblock {
  text-align: center;
  padding-bottom: 0.5em;
  width: 100%;
  color: black;
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
}
.text-bucket .wrapper .titleblock h1, .content-bucket .wrapper .titleblock h1 {
  position: relative;
  font-size: 1.1em;
}
.text-bucket .wrapper .titleblock .datewrapper, .content-bucket .wrapper .titleblock .datewrapper {
  font-style: italic;
  position: relative;
  font-size: 0.75em;
}
.text-bucket .wrapper .header, .content-bucket .wrapper .header {
  display: table;
  width: 100%;
  margin: 0px;
  height: 500px;
  background-size: cover;
  background-position: center -webkit-calc(center - 50px);
  background-position: center calc(center - 50px);
}
.text-bucket .content, .content-bucket .content {
  padding: 0em 1em 75px 1em;
}
.text-bucket .content p, .content-bucket .content p {
  font-size: 0.7em;
  line-height: 1.45em;
}
.text-bucket img, .content-bucket img {
  width: 100%;
}

.text-bucket {
  display: table;
  height: 100%;
  position: relative;
}
.text-bucket div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.content-bucket {
  top: 40%;
  -webkit-transition: top 800ms;
  transition: top 800ms;
}
.content-bucket:hover {
  top: 75px;
  background: white;
}

.fader {
  display: none;
}

.node {
  cursor: pointer;
}
.node circle {
  fill: white;
}
.node text {
  font: "Domine", serif;
}

.link {
  fill: none;
  stroke-width: 5px;
}
