@import "normalize"

// Globals
// ~~~~~~~

$red: #ed1b2e
$dark:  #222222
$light: #fff
$org: #E68A00

$paragraph-width: 800px

@mixin breakpoint($point)
  // < 550px or 35em.
  @if $point == small
    @media (max-width: 600px) 
      @content

  // > 550px or 35em.
  @if $point == medium
    @media (min-width: 600px) 
      @content

  // > 850px or 53.123em.
  @if $point == large
    @media (min-width: 850px) 
      @content

  // > 1000px or 64em.
  @if $point == full
    @media (min-width: 1000px) 
      @content

%ir
  text-indent: 101%
  white-space: nowrap
  overflow: hidden

%nav-elements
  position: fixed
  text-align: center
  left: 50%
  margin-left: -2.5em
  cursor: pointer
  // z-index: 100

  background: rgba(0,0,0,0.3)
  fill: rgba(255,255,255,1.0)

  transition: background 300ms, fill 300ms

  .no-touch &:hover
    background: rgba(0,0,0,0.6)
    fill:   rgba(255,255,255,1.0)
    cursor: pointer

.video-wrapper 
  position: relative
  padding-bottom: 56.25% /* 16:9 */
  padding-top: 25px
  height: 0


  object, embed, iframe  
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

audio
  width: 100%

// Typography
// ~~~~~~~~~~

// $bodyFont:   'Roboto', serif
// $headingFont: 'Roboto Condensed', serif
$bodyFont:   'Domine', serif
$headingFont: 'Domine', serif

body
  font-family: $bodyFont

h1, h2, h3, h4, h5, h6
  font-family: $headingFont

h1
  font-size: 2.5em

  &.blk
    color: black

  &.white
    color: white

p
  line-height: 1.6

  &.largetext
    font-size: 2.5em
    line-height: 1.1

  &.mediumtext
    font-size: 1.5em
    line-height: 1.2

  &.blk
    color: black

  &.white
    color: white

a
  text-decoration: none

  p &
    border-bottom: 1px solid inherit

// Util
// ~~~~

.ir
  @extend %ir

.cf:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0

*
  margin: 0
  padding: 0
  box-sizing: border-box

  html .clearfix, &:first-child + html .clearfix
    zoom: 1

.fixed
  position: fixed

.absolute
  position: absolute

.fill
  top:    0
  left:   0
  right:  0
  bottom: 0

html
  width: 100%
  height: 100%
  overflow: hidden


body
  width: 100%
  height: 100%
  // overflow-x: hidden
  // overflow-y: scroll
  overflow: hidden
  background: black
  color: black
  margin: 0px
  padding: 0px

.hide
  display: none

.icon
  display: inline-block

.backgroundBG
  img
    width: 100%
    min-height: 100%



// ███╗   ██╗ █████╗ ██╗   ██╗
// ████╗  ██║██╔══██╗██║   ██║
// ██╔██╗ ██║███████║██║   ██║
// ██║╚██╗██║██╔══██║╚██╗ ██╔╝
// ██║ ╚████║██║  ██║ ╚████╔╝ 
// ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  

$navwidth: 100px
$navheight: 20px

#nav
  position: fixed
  text-align: center
  text-transform: uppercase
  color: $light
  font-family: serif

    
  // Prev/Next Day
  // ~~~~~~~~~~~~~

  a.dayNavLink
    display: block
    position: fixed
    cursor: pointer

    color: $light
    border-color: $light
    //background-color: rgba(0,0,0,0.2)
    height: 80px
    width: 74px
    z-index: 200


    &:hover use
      fill: $red !important
      stroke: $red !important

    .no-touch &:hover
      color: $red
      border-color: $red
      // background-color: rgba(255,255,255,0.5)
    
    &.left, &.right
      top: 50%
      margin: 0 1em 1em

    &.left
      left: 0px

      div
        right: 0
   
      

    &.right
      right: 0px

      div
        left: 0

  // Navbar
  // ~~~~~~~~

  .metadata
    position: fixed
    top: -50%
    z-index: 200
    width: 100%
    height: 50%
    overflow: hidden
    // background: white
    background: url(../assets/img/background.jpg) no-repeat
    box-shadow: 0px 10px 5px 0px rgba(50,50,50,0.5)
    transition-delay: 500ms
    transition: box-shadow 300ms linear
    transition: top 300ms linear
    

    &.peek
      top: -45%
      transition-delay: 500ms
      transition: top 300ms linear

      .inner.timeline
        opacity: 0
        transition-delay: 500ms
        transition: opacity 300ms linear

      .menubtn
        opacity: 1
        transition-delay: 500ms
        transition: opacity 300ms linear

    &.unhide
      top: 0
      transition-delay: 500ms
      transition: top 300ms linear

      .inner.timeline
        opacity: 1
        transition-delay: 500ms
        transition: opacity 300ms linear

    .inner
      position: relative
      display: inline-block
      vertical-align: top
      margin: 0
      padding: 0
      font-size: 1em
      height: 100%

      
      &.shouldHide
        display: inline-block

        &.ng-hide-add, &.ng-hide-remove
          transition: all 300ms linear
          display: inline-block !important

        &.ng-hide-remove
          transition-delay: 500ms

        &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove
          transform: translateY(-100%)

        &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active
          transform: translateY(0%)

    .dateline
      top: 5.1em
      position: absolute
      width: 70%
      left: 20%

      .dates
        top: -4.5em
        position: relative
        font-size: 0.7em
        width: 100%
        // z-index: 100
        &.below
          top: -8em
        ul
          list-style: none
          padding: 0px
          float: left
          width: 100%
          li
            color: black
            float: left
            text-align: left
            width: 0px
            height: 1em
            overflow: visible
            white-space: nowrap
            cursor: pointer
            &:hover
              color: $org

            &.last
              margin-right: 0em
  
      .bargraph
        position: relative
        left: 0%
        width: 100%
        background: rgba(230,138,0,0.5)
        height: 0.5em
        transition: all 500ms linear

        &.missingB
          background: linear-gradient(to right, rgba(254,252,234,0) 0%,rgba(230,138,0,0.5) 100%) /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefcea', endColorstr='#e68a00',GradientType=1 ) /* IE6-9 */
          transition: all 500ms linear

        &.missingD
          background: linear-gradient(to left, rgba(254,252,234,0) 0%,rgba(230,138,0,0.5) 100%) /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefcea', endColorstr='#e68a00',GradientType=1 ) /* IE6-9 */
          transition: all 500ms linear

      .point
        position: relative
        margin-left: 10%
        overflow: visible
        color: black

        // left: -2px
        left: 0%
        top: 0em
        display: inline-block
        width: 0px
        background: rgba(0,0,0,0.5)
        height: 1em
        &.first
          margin-left: 0%
          // left: 10%
        &.last
          // padding-left: -10px
          margin-left: 10%
          // left: -20px
          text-align: center
          // margin-left: -22px

    .timeline
      // position: absolute
      // z-index: 0
      background: transparent
      color: rgba(255,255,255,1)
      width: 100%
      opacity: 1
      transition-delay: 500ms
      transition: opacity 300ms linear

      iframe
        width: 80%
        margin-left: 20%

    // logo and face icons
    // ~~~~~~~~~~~~~~~~~~~~~~~~~

    .branding
      position: absolute
      z-index: 1
      background: transparent
      color: rgba(0,0,0,1)
      cursor: pointer
      
      width: 20%
      left: 0px
      padding-left: 2em

      &.shouldHide
        display: inline-block

        &.ng-hide-add, &.ng-hide-remove
          transition: all 300ms linear
          display: inline-block !important

        &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove
          transform: translateY(-100%)

        &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active
          transform: translateY(0%)

      img
        margin-top: 2em
        width: 100%
        height: auto
        margin-bottom: 0px

      ul.familytree
        // position: absolute
        // top: -78%
        width: 100%
        margin: 0em auto 0em auto
        padding-top: 1em
        // margin-top: -45px
        @include breakpoint(small)
          width: 200%
        li
          // width: 30%
          display: block

          .portrait
            height: 2.5em
            width: 2.5em
            position: relative
            margin: 0 auto 1em
            background-size: cover
            border-radius: 1.25em
            margin-top: 0em

            &.off
              opacity: 0.5
              cursor: default

            &:hover
              opacity: 0.5

            &.active
              opacity: 1

  // the dots the bottom of nav
  // ~~~~~~~~~~~~~~~~~~~~~~~~~

  .menubtn
    text-align: center 
    position: absolute
    // z-index: 0 
    bottom: 0%
    width: 100% 
    color: #000
    opacity: 0
    transition-delay: 500ms
    transition: opacity 300ms linear

    ul.familytree
      width: 14%
      margin-top: 0px
      margin-bottom: 0px
      cursor: default
      @include breakpoint(small)
        width: 30%

      li
        width: 11%
        cursor: default
        // @include breakpoint(small)
        //   // width: 20%
        
        .portrait
          cursor: default
          height: 1em
          width: 1em
          // position: relative
          background-size: cover
          border-radius: 0.5em
          border: none
          // margin-top: 2.25em
          &:hover
            opacity: 1

        &:hover
          opacity: 1

    img
      position: relative
      margin-top: 2.20em
      width: 100%
      height: auto

// ██╗   ██╗██╗███████╗██╗    ██╗
// ██║   ██║██║██╔════╝██║    ██║
// ██║   ██║██║█████╗  ██║ █╗ ██║
// ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║
//  ╚████╔╝ ██║███████╗╚███╔███╔╝
//   ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝ 

.view
  overflow-y: hidden
  overflow-x: hidden
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  
  // ng-animate

  &.ng-enter, &.ng-leave
    transition: all 500ms ease
    transition-delay: 250ms
  
  &.slideLeft
    &.ng-enter
      transform: translateX(100%)
    &.ng-enter-active
      transform: translateX(0%)

    &.ng-leave
      transform: translateX(0%)
    &.ng-leave-active
      transform: translateX(-100%)


  &.slideRight
    &.ng-enter
      transform: translateX(-100%)
    &.ng-enter-active
      transform: translateX(0%)

    &.ng-leave
      transform: translateX(0%)
    &.ng-leave-active 
      transform: translateX(100%)


  // Nav
  // ~~~

  .nav
    text-align: center
    text-transform: uppercase
    // background: rgba(255,255,255,0.5)

    .down, .up, .what-is-resilience
      position: fixed
      text-align: center
      left: 50%
      // margin-left: -2.5em
      margin-left: -22.5px
      cursor: pointer

      z-index: 200

      background: rgba(255,255,255,0.5)
      fill: rgba(255,255,255,1.0)

      transition: background 300ms, fill 300ms

      .no-touch &:hover
        background: rgba(255,255,255,1)
        fill:   rgba(255,255,255,1.0)
        cursor: pointer

    .down, .what-is-resilience
      bottom: 0
      margin-bottom: 1em
      border-radius: 100%
      width: 45px
      height: 45px

    .up
      top: 1em
      margin-bottom: 1em
      border-radius: 100%
      width: 45px
      height: 45px


    svg.icon
      width: 45px
      height: 45px

      // .down, .up
    //   @extend %nav-elements


ul.familytree
  cursor: pointer
  padding: 0px
  list-style: none
  text-align: center
  font-style: italic
  font-weight: bold
  font-size: 0.8em
  color: black
  max-width: $paragraph-width + 50px
  width: 100%
  height: 10%
  margin: 4em auto 8em auto
  z-index: 101
  position: relative
  &.introtree
    li
      display: inline-block
      margin-right: 2em
      margin-left: 2em
      // width: 14%
      color: #000000

  li
    display: inline-block
    margin-right: 0.75%
    margin-left: 0.75%
    // width: 14%
    color: #000000

  p 
      margin-top: -10px
      text-align: center
      padding: 0px  
    
    &:hover
      color: $org
      .portrait
        opacity: 0.7

    .portrait
      height: ($paragraph-width/6) - ($paragraph-width*.02)
      width: ($paragraph-width/6) - ($paragraph-width*.02)
      position: relative
      background-size: cover
      border-radius: ($paragraph-width/3) - ($paragraph-width*.01)
      margin: 0 auto 1.5em
      border: 1px solid #555555
      
    



// Block
// ~~~~~

.block
  position: absolute
  min-height: 100%
  width: 100%
  display: none
  overflow-y: hidden
  padding: 0px

  background-repeat: no-repeat
  background-position: 50%
  background-size: cover
  transition: all 1s ease
  transition-delay: 50ms
  background-color: black



  svg.icon
    width: 45px
    height: 45px

  &.active, &.active-add, &.active-remove
    display: table !important

  .slideUp &
    &.active-add
      transform: translateY(-100%)
    &.active-add-active
      transform: translateY(0%)

    &.active-remove
      transform: translateY(0%)
    &.active-remove-active
      transform: translateY(90%)

  .slideDown &
    &.active-add
      transform: translateY(90%)
    &.active-add-active
      transform: translateY(0%)

    &.active-remove
      transform: translateY(0%)
    &.active-remove-active
      transform: translateY(-100%)

  &.next, &.next-add
    display: table !important
    transform: translateY(90%)

    &.next-add
      transform: translateY(100%)
    &.next-add-active
      transform: translateY(90%)

    &.next-remove
      transform: translateY(90%)
    &.next-remove-active
      transform: translateY(100%)
 

  // Inner Container Positions
  // ~~~~~~~~~~~~~~~~~~~~~~~~~

  .info
    display: block
    top: 30%
    right: 1.0em
    position: absolute
    fill: rgba(255,255,255,1.0)

    svg.info-icon
      width: 30px
      height: 30px
      fill: rgba(255,255,255,1.0)


  .content
    text-align: left
    width: 100%
    overflow-y: scroll
    position: absolute
    height: 100%
    bottom: 0%
    vertical-align: bottom
    transition: padding-top 300ms linear
    padding-top: 0%
    @include breakpoint(small)
      padding-top: 15%

    &.unhide
      padding-top: 35%
      transition: padding-top 300ms linear

    .wrapper
      margin: 0% 10% 0%
      width: 80%

      img
        box-shadow: 5px 5px 55px -2px rgba(0,0,0,0.75)
    
      .leadblock
        position: relative
        height: 100%
        width: 100%
        text-align: center
        padding: 7% 0%

        &.first
          padding-top: 8%
          padding-bottom: 8%

        &.second
          padding: 3% 0%
          border-bottom: 1px solid #555555
          border-top: 1px solid #555555
          margin-bottom: 0%
          p.introtext  
            margin-bottom: 0px
            font-size: 1.6em
            line-height: 1.4em

        &.last
          padding-bottom: 5%
      
        img
          // width: auto
          height: 70%
          margin-bottom: 1em
          &.wide
            width: 80%
            height: auto
            margin-bottom: 1em
  
        h1
          margin-bottom: 0.25em
  
        .portrait
          height: 200px
          width: 200px
          display: block
          position: relative
          left: 50%
          margin-left: -100px
          background-size: cover
          margin-bottom: 3%
          border-radius: 100px
          overflow: visible
        
      
      .column
        top: 0px
        vertical-align: top
        text-align: left
        display: inline-block
        width: 50%
        padding: 0px 1.5em 1em 1.5em
  
        &.small
          width: 49%
          height: auto
          padding: 1%
          display: block
  
        &.left
          padding-left: 0px
          margin-left: 0px
          // &.credit
          //   p
          //     margin-top: -1em

        &.right
          padding-right: 0px

        &.credit
          p
            font-size: 1em
            // float: left
            color: black
            text-align: center
            i
              font-size: 0.8em
              color: #555555
      .credit
        p
          font-size: 1em
          color: black
          text-align: center
          margin-top: 0.5em
          margin-bottom: 0em
          i
            font-size: 0.8em
            color: #555555
          
  
    img
      width: 100%
      height: auto

      &.tall
        width: auto
        height: 30%
        margin: 0 auto
        position: relative
    
    p.mediumtext
      text-align: left
      font-size: 1.2em
      line-height: 1.4em

      &.heading
        position: relative
        font-weight: bold
        text-align: center
        margin: 0 auto 1em
        // color: $org

    
      &.pullquote
        font-size: 1.5em
        max-width: 700px
        font-style: italic
        padding-left: 1em
        text-align: left
        padding: 3% 0%
        border-bottom: 1px solid #555555
        border-top: 1px solid #555555
        i 
          line-height: 4em
          font-size: 0.65em
          color: #555555


  .introduction
    position: absolute
    overflow-y: scroll
    height: 100%
    padding-top: 10%
    font-size: 1.25em
    
    bottom: 0px
    width: 100%
    text-align: center

    &#resources
      .paragraph-width
        width: 60%
        margin: 3% 20% 0em 20%
      p
        text-align: left
        margin-bottom: 10%
        &.first
          margin-top: 10%
          margin-bottom: 10%
          font-size: 1.25em


    .wrapper
      position: relative
      width: 100%
      max-width: 900px
      margin: 0 auto 4%
      .videowrapper
        position: relative
        padding-bottom: 56.25% /* 16:9 */
        padding-top: 25px
        height: 0
        iframe
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%

    .wrapperstep
      position: relative
      width: 80%
      // max-width: 800px
      margin: 0 auto 4%
      .videowrapper
        position: relative
        padding-bottom: 56.25% /* 16:9 */
        padding-top: 25px
        height: 0
        iframe
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
    p
      text-align: center
      max-width: 900px
      padding-left: 1em
      padding-right: 1em

    // ul.columns
    //   width: 80%
    //   position: relative
    //   margin: 0 auto 10%
    //   // max-width: 900px
    //   text-align: left
    //   padding: 0%

    //   &.lead
    //     margin: 0 auto 5%
    //   li
    //     margin-right: 2%
    //     display: inline-block
    //     width: 32%
    //     vertical-align: top
    //     font-size: 1em
    //     @include breakpoint(small)
    //       width: 100%
    //       margin-bottom: 5%
    //     strong
    //       font-size: 1.25em
    //     .padded
    //       margin-left: 2em
    //       margin-top: -1.15em
    //       font-size: 0.9em

    //     &.last
    //       margin-right: 0%


    //     ul
    //       width: 200%
    //       position: relative
    //       margin: 2em auto 10%
    //       max-width: 600px
    //       text-align: left

    //       li
    //         width: 100%
    //         margin-bottom: 5%

    //       a
    //         color: $org
    //         &:hover
    //           color: grey
        


    ol
      width: 100%
      position: relative
      margin: 0 auto 10%
      max-width: 800px
      text-align: left
      // border-bottom: 1px solid #555555
      // border-top: 1px solid #555555
      background-color: #FFFFED
      // background: rgba(153,89,57,0.75)
      color: black
      // background: url(../assets/img/background.jpg) no-repeat
      // box-shadow: 0px 10px 5px 0px rgba(50,50,50,0.5)
      // background: rgba(230,138,0,0.5)
      // background: url(../assets/img/background.jpg) no-repeat
      box-shadow: 0px 10px 5px 0px rgba(50,50,50,0.5)
      padding: 4% 6%
      &.lead
        margin: 0 auto 5%
      li
        margin-bottom: 2em

        ol
          width: 80%
          position: relative
          margin: 2em auto 10%
          max-width: 600px
          text-align: left
          background: rgba(230,138,0,0)
          // background: url(../assets/img/background.jpg) no-repeat
          box-shadow: 0px 10px 5px 0px rgba(50,50,50,0)
          border-bottom: 0px solid #555555
          border-top: 0px solid #555555

          a
            color: #555555
            text-decoration: underline 
            &:hover
              color: $org

    
    a
      h3
        color: $org
        &:hover
          color: #555555


    .chptDeco
      width: 20%
      height: auto
      margin-bottom: 10px

    video
      margin-bottom: 5%

    .paragraph-width
      // position: absolute
      // top: 0px
      // border: 1px solid #000
      // border-width: 1px 0px 1px 0px
      width: 40%
      // padding: 15px
      margin: 3% 30% 0em 30%
      @include breakpoint(small)
        width: 90%
        margin: 3% 5% 0em 5%

      h1
        margin: 0px
        text-transform: uppercase
        font-weight: normal
        font-size: 1.6em
        line-height: 1.8em
        margin-bottom: 1.8em
        letter-spacing: 5px
        border: 1px solid #000
        border-width: 1px 0px 1px 0px

    .title
      width: auto
      height: 100%

    .column
      position: relative
      float: left
      width: 50%
      text-align: left
      h1
        margin-bottom: 10px
      h2
        font-weight: normal
        font-size: 1.1em
        color: #555555
        margin-bottom: 2em

    img
      position: absolute
      top: 2em
      left: 0px
      height: auto
      width: 100%
      margin-bottom: 4em
      
    .pan-down
      transform: translateY(-50%)

  img
    width: 100%
    height: auto
    margin: 0 auto
    margin-bottom: 1em

h1, h2, h3, h4, h5 h6, p
  position: relative
  max-width: $paragraph-width
  margin: 0 auto
  margin-bottom: 1em


.bg
  width: 100%
  max-width: $paragraph-width
  padding: 1em
  margin: 0 auto
  background: rgba(0,0,0,0.35)
  color: $light  

.bg-pos
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.2)

.pos-title

  h1,h2,h3
    margin: 0

  .uppercase
    text-transform: uppercase
