article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[tipe="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ir {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.block .what-is-resilience {
  position: fixed;
  text-align: center;
  left: 50%;
  margin-left: -2.5em;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  fill: white;
  -webkit-transition: background 300ms, fill 300ms;
  transition: background 300ms, fill 300ms;
}
.no-touch .block .what-is-resilience:hover, .block .no-touch .what-is-resilience:hover {
  background: rgba(0, 0, 0, 0.6);
  fill: white;
  cursor: pointer;
}

body {
  font-family: "Domine", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Domine", serif;
}

h1 {
  font-size: 2.5em;
}
h1.blk {
  color: black;
}
h1.white {
  color: white;
}

p {
  line-height: 1.6;
}
p.largetext {
  font-size: 2.5em;
  line-height: 1.1;
}
p.mediumtext {
  font-size: 1.5em;
  line-height: 1.2;
}
p.blk {
  color: black;
}
p.white {
  color: white;
}

a {
  text-decoration: none;
}
p a {
  border-bottom: 1px solid inherit;
}

.cf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* html .clearfix, *:first-child + html .clearfix {
  zoom: 1;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.fill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  color: black;
  margin: 0px;
  padding: 0px;
}

.hide {
  display: none;
}

.icon {
  display: inline-block;
}

.backgroundBG img {
  width: 100%;
  min-height: 100%;
}

#nav {
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: serif;
}
#nav .calendarBox {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-callout: none;
  font-weight: bold;
  height: 100%;
}
#nav .calendarBox div {
  line-height: 40px;
  position: absolute;
  width: 56px;
}
#nav .calendarBox .background {
  height: 80px;
  width: 74px;
}
#nav .calendarBox .name {
  font-size: 1.4em;
  top: 0;
}
#nav .calendarBox .number {
  bottom: 0;
  font-size: 1.8em;
}
#nav .calendarBox div {
  line-height: 40px;
  position: absolute;
  width: 56px;
}
#nav .calendarBox .background {
  height: 80px;
  width: 74px;
}
#nav a.dayNavLink {
  display: block;
  position: fixed;
  cursor: pointer;
  color: white;
  border-color: white;
  height: 80px;
  width: 74px;
}
#nav a.dayNavLink.tomorrow {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  width: auto;
  padding: 1%;
  padding-top: 1.5%;
}
#nav a.dayNavLink:hover use {
  fill: #ed1b2e !important;
  stroke: #ed1b2e !important;
}
.no-touch #nav a.dayNavLink:hover {
  color: #ed1b2e;
  border-color: #ed1b2e;
}
#nav a.dayNavLink.left, #nav a.dayNavLink.right {
  bottom: 0px;
  margin: 0 1em 1em;
}
#nav a.dayNavLink.left {
  left: 0px;
}
#nav a.dayNavLink.left div {
  right: 0;
}
#nav a.dayNavLink.right {
  right: 0px;
}
#nav a.dayNavLink.right div {
  left: 0;
}
#nav .metadata {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
#nav .metadata .inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 1em;
  height: 100%;
}
#nav .metadata .inner.shouldHide {
  display: inline-block;
}
#nav .metadata .inner.shouldHide.ng-hide-add, #nav .metadata .inner.shouldHide.ng-hide-remove {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  display: inline-block !important;
}
#nav .metadata .inner.shouldHide.ng-hide-add.ng-hide-add-active, #nav .metadata .inner.shouldHide.ng-hide-remove {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
#nav .metadata .inner.shouldHide.ng-hide-add, #nav .metadata .inner.shouldHide.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
#nav .metadata .currentDay {
  cursor: pointer;
}
#nav .metadata .currentDay .calendarBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#nav .metadata .currentDay .calendarBox div {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  border-width: 0 1px 1px 1px;
  position: relative;
}
#nav .metadata .timeline {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 80%;
}
#nav .metadata .branding {
  background: rgba(255, 255, 225, 0.5);
  color: black;
  cursor: pointer;
  width: 20%;
}
#nav .metadata .branding h1 {
  font-size: 2em;
}
#nav .metadata .social a {
  display: block;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  fill: rgba(255, 255, 255, 0.5);
}
.no-touch #nav .metadata .social a:hover {
  fill: #ed1b2e;
}
#nav .metadata .social svg.icon {
  display: block;
  width: 60%;
  height: 60%;
  margin: 20%;
}
#nav .metadata .relatedDays .relatedDay {
  width: 5em;
  position: relative;
  display: inline-block;
  margin-left: 1em;
}
#nav .metadata .relatedDays .relatedDay .calendarBox {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  height: 5em;
  pointer-events: none;
}
#nav .metadata .relatedDays .relatedDay img {
  width: 100%;
  opacity: 0.5;
  border: 1px solid white;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
.no-touch #nav .metadata .relatedDays .relatedDay img:hover {
  opacity: 1;
}
#nav .timeline {
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: fixed;
  z-index: 100;
  height: 15%;
}
#nav .timeline img {
  top: 0%;
  width: 100%;
  height: auto;
}

.grid-nav-wrapper {
  background-color: rgba(34, 34, 34, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
}
.grid-nav-wrapper .grid-nav {
  bottom: 0;
  top: 80px;
  position: absolute;
  width: 100%;
}
.grid-nav-wrapper .grid-panel {
  float: left;
  height: 16.66667%;
  list-style-type: none;
  width: 14.28571%;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  border-width: 2px 2px 2px 2px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Domine", serif;
  display: table-cell;
  vertical-align: middle;
  margin-top: 0.5%;
}
.grid-nav-wrapper .grid-panel a {
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-weight: bold;
}
.grid-nav-wrapper .grid-panel a .article {
  border: 0px solid white;
  font-size: 1.75em;
  height: 40%;
  border-width: 0px 0px 1px 0px;
}
.grid-nav-wrapper .grid-panel a .day {
  font-size: 2.75em;
  height: 60%;
}
.grid-nav-wrapper .grid-panel a :hover {
  background-color: rgba(255, 255, 255, 0.4);
}

ul.innernav {
  position: fixed;
  z-index: 100;
  left: 15px;
  top: 15%;
  list-style: none;
  padding: 0px;
}
ul.innernav li {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20%;
  cursor: pointer;
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
}
ul.innernav li.active {
  background-color: white;
  opacity: 0.5;
}
ul.innernav li:hover {
  background-color: white;
  opacity: 0.5;
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.view.ng-enter, .view.ng-leave {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
.view.slideLeft.ng-enter {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.view.slideLeft.ng-enter-active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.view.slideLeft.ng-leave {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.view.slideLeft.ng-leave-active {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.view.slideRight.ng-enter {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.view.slideRight.ng-enter-active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.view.slideRight.ng-leave {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.view.slideRight.ng-leave-active {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.view .nav {
  text-align: center;
  text-transform: uppercase;
}
.view .nav .down, .view .nav .up, .view .nav .what-is-resilience {
  position: fixed;
  text-align: center;
  left: 50%;
  margin-left: -22.5px;
  cursor: pointer;
  z-index: 200;
  background: rgba(0, 0, 0, 0.3);
  fill: white;
  -webkit-transition: background 300ms, fill 300ms;
  transition: background 300ms, fill 300ms;
}
.no-touch .view .nav .down:hover, .no-touch .view .nav .up:hover, .no-touch .view .nav .what-is-resilience:hover {
  background: rgba(0, 0, 0, 0.6);
  fill: white;
  cursor: pointer;
}
.view .nav .down, .view .nav .what-is-resilience {
  bottom: 0;
  margin-bottom: 1em;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.view .nav .up {
  top: 1em;
  margin-bottom: 1em;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.view .nav svg.icon {
  width: 45px;
  height: 45px;
}

.block {
  position: absolute;
  min-height: 100%;
  width: 100%;
  display: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
  background-color: black;
}
.block .what-is-resilience {
  bottom: 0;
  margin-bottom: 1em;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.block svg.icon {
  width: 45px;
  height: 45px;
}
.block.active, .block.active-add, .block.active-remove {
  display: table !important;
}
.slideUp .block.active-add {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.slideUp .block.active-add-active {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.slideUp .block.active-remove {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.slideUp .block.active-remove-active {
  -webkit-transform: translateY(90%);
  -ms-transform: translateY(90%);
  transform: translateY(90%);
}
.slideDown .block.active-add {
  -webkit-transform: translateY(90%);
  -ms-transform: translateY(90%);
  transform: translateY(90%);
}
.slideDown .block.active-add-active {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.slideDown .block.active-remove {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.slideDown .block.active-remove-active {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.block.next, .block.next-add {
  display: table !important;
  -webkit-transform: translateY(90%);
  -ms-transform: translateY(90%);
  transform: translateY(90%);
}
.block.next.next-add, .block.next-add.next-add {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.block.next.next-add-active, .block.next-add.next-add-active {
  -webkit-transform: translateY(90%);
  -ms-transform: translateY(90%);
  transform: translateY(90%);
}
.block.next.next-remove, .block.next-add.next-remove {
  -webkit-transform: translateY(90%);
  -ms-transform: translateY(90%);
  transform: translateY(90%);
}
.block.next.next-remove-active, .block.next-add.next-remove-active {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.block .info {
  display: block;
  top: 30%;
  right: 1em;
  position: absolute;
  fill: white;
}
.block .info svg.info-icon {
  width: 30px;
  height: 30px;
  fill: white;
}
.block .pos-left {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: white;
}
.block .pos-left-bottom {
  display: table-cell;
  vertical-align: bottom;
  text-align: left;
  color: white;
  padding-bottom: 6.5em;
}
.block .pos-fully-centre {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.block .pos-fully-centre .chptDeco {
  width: 10%;
  height: auto;
}
.block .pos-fully-centre .paragraph-width {
  position: relative;
  border: 1px solid black;
  border-width: 1px 0px 1px 0px;
  max-width: 30%;
  margin: 0px auto 40px auto;
}
.block .pos-fully-centre .paragraph-width h1 {
  margin: 0px;
  text-transform: uppercase;
}
.block .pos-fully-centre .title {
  width: auto;
  height: 100%;
}
.block .pos-title {
  position: absolute;
  width: 100%;
  bottom: 10em;
}
.block .pos-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.block .pos-bg {
  background: rgba(0, 0, 0, 0.2);
}
.block .pos-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.block .img-pan-vert {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.block .img-pan-vert img {
  position: absolute;
  top: 0px;
  min-height: 100%;
  width: 100%;
  -webkit-transition: all 100s ease;
  transition: all 100s ease;
}
.block .img-pan-vert .pan-down {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.block img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5 h6, p {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1em;
}

.bg {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.35);
  color: white;
}

.bg-pos {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.pos-title h1, .pos-title h2, .pos-title h3 {
  margin: 0;
}
.pos-title .uppercase {
  text-transform: uppercase;
}

.block .infograph {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.block .infograph .headerblock {
  color: #555555;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
}
.block .infograph .headerblock h1 {
  font-size: 4em;
  margin-top: 5%;
}
@media (max-width: 600px) {
  .block .infograph .headerblock h1 {
    margin-top: 20%;
  }
}
@media (min-width: 600px) {
  .block .infograph .headerblock h1 {
    margin-top: 0%;
  }
}
.block .infograph .headerblock h2 {
  font-size: 2.5em;
  border: 2px solid #555555;
  position: relative;
  width: 20%;
  padding-bottom: 5px;
  margin: auto;
  margin-bottom: 5%;
}
@media (min-width: 600px) {
  .block .infograph .headerblock h2 {
    width: 30%;
  }
}
@media (max-width: 600px) {
  .block .infograph .headerblock h2 {
    width: 80%;
  }
}
.block .infograph .headerblock p {
  font-size: 1.25em;
}
@media (max-width: 600px) {
  .block .infograph .headerblock p {
    font-size: 1em;
    padding: 1em;
  }
}
@media (min-width: 600px) {
  .block .infograph .headerblock p {
    font-size: 1.25em;
  }
}
.block .infograph .contentblock {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  background: transparent;
}
.block .infograph .contentblock img {
  width: auto;
  max-height: 80%;
  z-index: 1;
  position: relative;
}
@media (max-width: 600px) {
  .block .infograph .contentblock img {
    position: relative;
    margin-top: 50%;
    left: 0%;
    height: auto;
    max-width: 100%;
  }
}
@media (min-width: 600px) {
  .block .infograph .contentblock img {
    margin-top: 5%;
  }
}
.block .infograph .contentblock .globe img {
  margin-top: -10%;
  width: auto;
  max-height: 70%;
}
@media (max-width: 600px) {
  .block .infograph .contentblock .globe img {
    margin-top: 30%;
    height: auto;
    max-width: 100%;
  }
}
@media (min-width: 600px) {
  .block .infograph .contentblock .globe img {
    margin-top: 0%;
  }
}
.block .infograph .contentblock .row {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.block .infograph .contentblock .row .halfcolumn {
  position: relative;
  float: left;
  width: 50%;
  background-color: white;
}
.block .infograph .contentblock .row .halfcolumn img.flag {
  margin-bottom: 5%;
}
.block .infograph .contentblock .row .halfcolumn h4 {
  font-size: 1.5em;
}
.block .infograph .contentblock .row .halfcolumn ul {
  list-style: none;
  padding-left: 0%;
}
.block .infograph .contentblock .row .halfcolumn ul li strong {
  line-height: 2.1em;
}
.block .infograph .contentblock .row .text {
  position: relative;
  height: auto;
  margin: auto;
}
.block .infograph .contentblock .row .text h3 {
  background-color: white;
  color: white;
  margin: auto;
  padding: 0.5%;
  width: 20%;
  position: relative;
  font-size: 2.2em;
}
@media (min-width: 600px) {
  .block .infograph .contentblock .row .text h3 {
    margin-top: 0%;
    width: 30%;
  }
}
@media (max-width: 600px) {
  .block .infograph .contentblock .row .text h3 {
    margin-top: 12%;
    width: 80%;
  }
}
.block .infograph.sudan .headerblock {
  background-color: #daddd4;
}
.block .infograph.sudan .contentblock .row .text h3 {
  background-color: #555555;
  color: white;
  margin: auto;
  padding: 0.5%;
  width: 20%;
  position: relative;
  font-size: 2.2em;
}
@media (min-width: 600px) {
  .block .infograph.sudan .contentblock .row .text h3 {
    margin-top: 0%;
    width: 30%;
  }
}
@media (max-width: 600px) {
  .block .infograph.sudan .contentblock .row .text h3 {
    margin-top: 12%;
    width: 80%;
  }
}
.block .infograph.sudan .contentblock .row .text .linedivide {
  height: 100%;
  width: 50%;
  position: fixed;
  border-right: 2px dashed #777777;
}
.block .infograph.budget {
  padding: 0%;
}
.block .infograph.budget .headerblock {
  background-color: #91b547;
  color: white;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
}
.block .infograph.budget .headerblock h1 {
  max-width: 90%;
  font-size: 4em;
}
.block .infograph.budget .headerblock h1 strong {
  font-size: 2em;
}
@media (max-width: 600px) {
  .block .infograph.budget .headerblock h1 {
    margin-top: 20%;
  }
  .block .infograph.budget .headerblock h1 strong {
    font-size: 1em;
  }
}
@media (min-width: 600px) {
  .block .infograph.budget .headerblock h1 {
    margin-top: 0%;
  }
}
.block .infograph.budget .headerblock p {
  font-size: 2.25em;
  font-weight: bold;
}
.block .infograph.budget .contentblock {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  background: transparent;
  padding: 0%;
}
.block .infograph.budget .contentblock img {
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
}
@media (max-width: 600px) {
  .block .infograph.budget .contentblock img {
    width: auto;
    height: 100%;
  }
}
.block .infograph.budget .contentblock .row {
  padding: 0%;
  background-color: transparent;
}
.block .infograph.budget .contentblock .row .text {
  padding: 0%;
  margin-top: 10%;
  position: relative;
}
.block .infograph.budget .contentblock .row .text h3 {
  background-color: transparent;
  color: black;
  margin: auto;
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 2.2em;
}
@media (max-width: 600px) {
  .block .infograph.budget .contentblock .row .text h3 {
    margin-top: 12%;
    width: 100%;
  }
}
.block .infograph.budget .contentblock .row .text p {
  background-color: transparent;
  color: black;
  margin: auto;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 1.25em;
  text-align: center;
}
.block .infograph.budget .contentblock .row .text.white h3 {
  color: white;
}
.block .infograph.budget .contentblock .row .text.white p {
  color: white;
}

#what-is-resilience {
  background: white;
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 100%;
}

.wir-menu {
  color: #222222;
  left: 10px;
  position: fixed;
  top: 100px;
}
.wir-menu li {
  cursor: pointer;
}
.wir-menu li:hover {
  color: #ed1b2e;
}

.bg-pan img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

#outputTest {
  color: white;
  position: fixed;
  top: 10px;
  left: 300px;
  z-index: 9999;
}

.block {
  background-color: rgba(0, 0, 0, 0);
}
.block .hot-spot {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1em;
  height: 30px;
  line-height: 100%;
  position: absolute;
  width: 30px;
}
.block .hot-spot p {
  line-height: 1.3em;
}
.block .hot-spot.active {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 50px 30px 20px;
  height: auto;
  width: auto;
}
.block .hot-spot.active .hot-spot-content {
  display: block;
}
.block .hot-spot.active .hot-spot-toggle .icon-minus {
  display: block;
}
.block .hot-spot.active .hot-spot-toggle .icon-plus {
  display: none;
}
.block .hot-spot-content {
  display: none;
}
.block .hot-spot-toggle {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 30px;
}
.block .hot-spot-toggle .icon {
  height: 30px;
  width: 30px;
}
.block .hot-spot-toggle use {
  fill: white;
}
.block .hot-spot-toggle .icon-minus {
  display: none;
}

.modal-outer {
  bottom: 0;
  background: #222222;
  color: white;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0px;
}
