<div class='wrapper'> 
<div class='titleblock'> 
<h1>b. 1888-12-19 
d. 1975-09-25</h1> 
<div class='datewrapper'>Born at Garden Hill, Manitoba and married to Thomas Taylor, Emily Monias Taylor was the daughter of Makα tcewininε, Black Man (Peter Monias) and Nähikwαn´ebikwe. Emily Monias came from a significant local family and her marriage to Thomas was most likely arranged. 

It's recorded that both Emily and Taylor understood a little English, but did not speak the language. </div> 
</div> 
</div> 
<div class='content'> 
<p>ChapinN15191 Albert Monias Camp 001.jpg</p></div> 
<div class='footer'> 
</div> 
</div> 
