<!-- <div class="grid-nav-wrapper" ng-show="$root.states.showGrid">
    <ul class="grid-nav">
        <li ng-repeat="article in articles" class="grid-panel" ng-hide="$last">
            <a href="#/{{lang}}/day/{{$index+1}}">
                <div class="article">{{article}}</div>
                <div class="day">DAY {{$index+1}}</div>
            </a>
        </li>
    </ul>
</div> -->

<!-- <div id="nav" ng-class="{ true: 'collapse', false: 'dontcollapse' }[$root.states.shouldCollapseNav]">
 -->
 <div id="nav">


    <div class="metadata">
        <div class="inner branding shouldHide"  ng-hide="$root.states.logoCollapse === true;">
            <img src="assets/img/logo.png" ng-click="$root.states.shouldCollapseNav = !$root.states.shouldCollapseNav; homebtn();">
            <ul class="familytree">
                <a ng-click="familytree();">
                    <li>
                        <img src="assets/img/face1.png">
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <img src="assets/img/face2.png">
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <img src="assets/img/face3.png">
                    </li>
                </a>
<!--                     CHANGE THIS AFTER PROTOTYPE
 -->
                <a ng-click="familytreeTemp();">
                    <li>
                        <img src="assets/img/face4.png">
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <img src="assets/img/face5.png">
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <img src="assets/img/face6.png">
                    </li>
                </a>
            </ul>
        </div><div class="inner timeline shouldHide" ng-hide="$root.states.shouldCollapseNav === true;" >
<!--         testing the nav
 -->            <iframe src="iframes/nav_tree.html" seamless frameborder="0" scrolling="no" style="width: 100%; height: 15%; max-height: 400px;" ></iframe>
                <img src="assets/img/timeline.png">
        </div>
    </div>

   <!--  <div class="timeline shouldHide" ng-hide="$root.states.shouldCollapseNav" >
        <img src="assets/img/timeline.png">
    </div>
 -->
    
    

    <a class="dayNavLink left" ng-show="day > 1 " ng-click="prevDay()">  
        <svg class="icon" width="64" height="64" viewBox="0 0 32 32"><polygon fill="#010101" points="18.432,16.641 10.048,16.641 11.584,15.552 18.432,15.552 "/>
<path fill="#010101" d="M13.76,12.224l-10.176,3.84l10.176,3.84l-3.008-3.84L13.76,12.224z M5.056,16.064l6.848-2.752L9.28,16.064
    H5.056z"/>
<g>
    <polygon fill="#010101" points="17.92,15.552 20.672,12.352 21.952,12.352 19.2,15.552 20.48,15.552 23.168,12.352 24.448,12.352 
        21.76,15.552 23.04,15.552 25.729,12.352 27.008,12.352 24.32,15.552 25.6,15.552 25.6,16.641 24.32,16.641 27.008,19.84 
        25.729,19.84 23.04,16.641 21.76,16.641 24.448,19.84 23.168,19.84 20.48,16.641 19.2,16.641 21.952,19.84 20.672,19.84 
        17.92,16.641    "/>
</g>
<polygon fill="#010101" points="25.92,16.832 10.624,16.832 10.304,15.424 25.92,15.424 "/>
<path fill="#010101" d="M15.68,1.792c-7.936,0-14.336,6.4-14.336,14.336c0,7.937,6.4,14.336,14.336,14.336
    s14.335-6.399,14.335-14.336C30.016,8.192,23.616,1.792,15.68,1.792z M15.68,29.184c-7.232,0-13.056-5.824-13.056-13.056
    c0-7.232,5.824-13.12,13.056-13.12s13.056,5.824,13.056,13.056S22.912,29.184,15.68,29.184z"/>
        </svg>
    </a>

    <a class="dayNavLink right" ng-show="day < 2" ng-click="nextDay()">
        <svg class="icon" width="64" height="64" viewBox="0 0 32 32" fill="#010101"><polygon  points="12.928,15.552 21.312,15.552 19.775,16.704 12.928,16.704 "/>
<path  d="M17.6,19.968l10.176-3.84L17.6,12.288l3.008,3.84L17.6,19.968z M26.305,16.128l-6.849,2.752l2.624-2.752
    H26.305z"/>
<g>
    <polygon  points="13.44,16.704 10.688,19.904 9.408,19.904 12.16,16.704 10.88,16.704 8.192,19.904 6.912,19.904 
        9.6,16.704 8.32,16.704 5.632,19.904 4.352,19.904 7.04,16.704 5.76,16.704 5.76,15.552 7.04,15.552 4.352,12.352 5.632,12.352 
        8.32,15.552 9.6,15.552 6.912,12.352 8.192,12.352 10.88,15.552 12.16,15.552 9.408,12.352 10.688,12.352 13.44,15.552  "/>
</g>
<polygon  points="5.44,15.424 20.736,15.424 21.057,16.768 5.44,16.768 "/>
<path d="M15.68,30.4c7.936,0,14.335-6.4,14.335-14.336S23.616,1.792,15.68,1.792S1.344,8.192,1.344,16.128
    C1.344,24.064,7.744,30.4,15.68,30.4z M15.68,3.008c7.232,0,13.056,5.824,13.056,13.056S22.912,29.12,15.68,29.12
    S2.624,23.359,2.624,16.128C2.624,8.896,8.448,3.008,15.68,3.008z"/>
        </svg>
    </a>

<!--     <a class="dayNavLink right tomorrow" ng-show="day == redCrossDay && day != 42 && tomorrowCheck === false" ng-click="tomorrow()">
        last page
    </a>
 -->
</div>