<div class="grid-nav-wrapper" ng-show="$root.states.showGrid">
    <ul class="grid-nav">
        <li ng-repeat="article in articles" class="grid-panel" ng-hide="$last">
            <a href="#/{{lang}}/day/{{$index+1}}">
                <div class="article">{{article}}</div>
                <div class="day">DAY {{$index+1}}</div>
            </a>
        </li>
    </ul>
</div>

<div id="nav" ng-class="{ true: 'collapse', false: 'dontcollapse' }[$root.states.shouldCollapseNav]">

    <div class="metadata">
        <div class="inner branding shouldHide" ng-hide="$root.states.shouldCollapseNav">
            <h1>all of our<br>relations</h1>
        </div><div class="inner timeline shouldHide" ng-hide="$root.states.shouldCollapseNav" >
<!--             <iframe src="iframes/nav_tree.html" ></iframe>
 -->        </div>
    </div>

    <div class="timeline shouldHide" ng-hide="$root.states.shouldCollapseNav" >
        <img src="assets/img/timeline.png">
    </div>

    
    

    <a class="dayNavLink left" ng-show="day > 1 " ng-click="prevDay()">  
        <span style="font-size: 5em;"> < </span>
    </a>
<!--     to test last day button change numDays to numDays-1
 -->
    <a class="dayNavLink right" ng-show="day < numDays-1 && tomorrowCheck === false" ng-click="nextDay()">
        <span style="font-size: 5em;"> > </span>
    </a>
<!--     to test last day button change numDays to numDays-1
 -->
    <a class="dayNavLink right tomorrow" ng-show="day == redCrossDay && day != 42 && tomorrowCheck === false" ng-click="tomorrow()">
        last page
    </a>

</div>