<div class='wrapper'> 
<div class='titleblock'> 
<h1>Adam Beach</h1> 
<div class='datewrapper'>b. 1971 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/adam-adam1.jpg")'> 
</div> 
<div class='content'> 
<p>This handsome Saulteaux native from Dog Creek, Manitoba, has appeared in over sixty TV and Film roles.  Adam Beach has starred in such blockbuster films as Windtalkers and Flags of Our Fathers and worked with cinema legends like Clint Eastwood, Harrison Ford and Nicolas Cage. He’s an accomplished Hollywood actor who’s overcome a childhood devastated by tragedy. </p><p>His career spans more than two decades as he has moved effortlessly from comedy to drama to epic historic films. In his own words, Adam Beach is living the dream.  He’s successful, highly respected and famous.  But for this First Nations actor that’s not enough.  Using his personal struggles as inspiration, he’s determined to bring the dream of hope to younger generations. </p></div> 
<div class='footer'> 
<img src="http://205.186.156.50/all-our-relations/cdn/assets/img/adam-adam2.jpg"></div> 
</div> 
