<div class='wrapper'> 
<div class='titleblock'> 
<h1>Barney William Swan</h1> 
<div class='datewrapper'>b. 1924/1925-04-12
d. 1998-02-15 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/")'> 
</div> 
<div class='content'> 
<p>Barney William Swan was a respected elder in the Dog Creek community, called upon to attend traditional feasts and gatherings and open prayers for special occasions. He worked as a carpenter, building many homes in Lake Manitoba. His hobbies included woodworking, gardening and bingo. He also loved to listen to fiddling.</p></div> 
<div class='footer'> 
</div> 
</div> 
