<day related-pages="" category="flooding" title="Allan B. Harper">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">
        <div class="content" ng-class="{ 'peek': ($root.states.logoCollapse === true) }">
            <div class="wrapper">
                <div class="leadblock first">
                    <div class="portrait" bg-Img="assets/img/elijahHarper/22_TRAPPERS-OF-THE-NW001.jpg"></div>
                    <h1>Allan B. Harper</h1>
                    <i><span class="dob">1925</span> - <span class="dod">2010</span></i>
                </div>
                <div class="leadblock second">
                    <p class="introtext"><i>Elijah Harper – the Ojibwa-Cree Native from Northern Manitoba – has guaranteed his place in the history of Canada. He took a stand against all the odds and the government powers that be. And with a symbolic eagle feather, forever changed the course of Canadian history.</i></p>
                </div>
            </div>    
        </div>
    </div>
</day>