<day related-pages="" category="flooding" title="Introduction">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">

        <div class="introduction">
            <!-- <img class="chptDeco" src="{{baseURL}}assets/img/Logo.png"> -->
            
            <div class="inner timeline" >
                <img src="assets/img/timeline.png">
            </div>

            <div class="paragraph-width">
                <h1>A BRIEF INTRODUCTION</h1>
            </div>

            <p>
                Starting to search your own family tree the first benefit is learning about who it is you really are, and where you come from as an Aboriginal person. The goal of this process is two-fold; that through learning more about the featured subjects we all learn more about the important role aboriginal Canadians played in the creation of this country. 
            </p>

            <ul class="familytree">
                <a ng-click="resources();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/profile.png"></div>
                        <p style="margin-left:-9px;">Research Your Family</p>
                    </li>
                </a>
            </ul>

            <p>
                Starting to search your own family tree the first benefit is learning about who it is you really are, and where you come from as an Aboriginal person. 
            </p>

            <ul class="familytree">
                <a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/elijahHarper/03b-Harper-1.jpg"></div>
                        <p>Elijah Harper</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face2.jpg"></div>
                        <p>Douglas Cardinal</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face3.jpg"></div>
                        <p>Theoren Fleury</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face4.jpg"></div>
                        <p>Adam Beach</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face5.jpg"></div>
                        <p>Santee Smith</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face6.jpg"></div>
                        <p>James Bartleman</p>
                    </li>
                </a>
            </ul>
        </div>   
    </div>
</day>