<day related-pages="" category="flooding" title="Introduction">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">
                <ul class="familytree">
                    <a ng-click="familytree();">
                        <li>
                            <img src="assets/img/face1.png">
                            <p>Elijah Harper</p>
                        </li>
                    </a>
                    <a ng-click="familytreeTemp();">
                        <li>
                            <img src="assets/img/face2.png">
                            <p>Douglas Cardinal</p>
                        </li>
                    </a>
                    <a ng-click="familytreeTemp();">
                        <li>
                            <img src="assets/img/face3.png">
                            <p>Theoren Fleury</p>
                        </li>
                    </a>
                    <!--                     CHANGE THIS AFTER PROTOTYPE
 -->
                    <a ng-click="familytreeTemp();">
                        <li>
                            <img src="assets/img/face4.png">
                            <p>Adam Beach</p>
                        </li>
                    </a>
                    <a ng-click="familytreeTemp();">
                        <li>
                            <img src="assets/img/face5.png">
                            <p>Santee Smith</p>
                        </li>
                    </a>
                    <a ng-click="familytreeTemp();">
                        <li>
                            <img src="assets/img/face6.png">
                            <p>James Bartleman</p>
                        </li>
                    </a>
                </ul>

        <div class="pos-bottom-centre">
            <img class="chptDeco" src="{{baseURL}}assets/img/Logo.png">
            <div class="paragraph-width">
                <h1>A BRIEF INTRODUCTION</h1>
            </div>
            <video width="50%" height="auto" controls>
              <source src="assets/video/lala.mp4" type="video/mp4">
              <!-- <source src="assets/video/Elijahs_own words.ogg" type="video/ogg"> -->
                Your browser does not support the video tag.
            </video>

            <p>
                Starting to search your own family tree the first benefit is learning about who it is you really are, and where you come from as an Aboriginal person. The goal of this process is two-fold; that through learning more about the featured subjects we all learn more about the important role aboriginal Canadians played in the creation of this country. Through the idea of placing family members in a time-line of Canadian history we discover, the important lesson that through knowing where you have come from, you can better find out where you are you going.
                The website is intended to offer help and instruction for one’s own personal journey into the past, through links and suggested institutions, viewers can begin their own voyage into their ancestry. It is a necessary and strong statement to be proud of who it is you are, and being Aboriginal, we’re all part of our larger family.
            </p> 
            <p>

                Searching a family’s past through genealogical research reveals individual family stories, but also reveals the history of the Nation and roots of a family and community. This site is intended to help, by illustrating how we went about searching families of the featured subjects from the television series, “All Our Relations”. Using the information as described by a researcher, and observing the genealogy charts should help others who wish to start their own search on their own families.
            </p>
            <p>  

                Our children and grandchildren will thank us for doing this work to keep the culture alive by telling the stories and this will help make them even more proud of their ancestors.
            </p>
            <p>  
                Migwetch
            </p>

        </div>
    </div>

</day>