<day related-pages="" category="flooding" title="wingsHalfWhite">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">
        <div class="content" ng-class="{ 'peek': ($root.states.logoCollapse === true) }">
            <div class="wrapper">
                <div class="leadblock first">
                    <div class="portrait" bg-Img="assets/img/elijahHarper/22_TRAPPERS-OF-THE-NW001.jpg"></div>
                    <h1>￼Pesängī</h1>
                    <h1 class="translate"> Hawk (wings half white)</h1>
                    <i><span class="dob"></span> - <span class="dod"></span></i>
                </div>
               <!--  <div class="leadblock second">
                    <p class="introtext"><i>The three wives of Peter Monias were all sisters, daughters of Peter Flett, granddaughters of Peemeecheekag, Porcupine Standing Sideways, and all members of the Sucker Doodem. </i></p>
                </div> -->
            </div>    
        </div>
    </div>
</day>