<day related-pages="" category="flooding" title="Allan B. Harper">

    <div class="block">
        <div class="pos-left-bottom">
            <div class="column">
                <img src="assets/img/groupshot.png">
            </div>
            <div class="column">
                <h1>Harper, Allan B.</h1>
                <h2><i>(April 13-15, 1925 - March 16, 2010)</i></h2>
                <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into <strong>stiff sections.</strong></p>
                <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. One morning, when Gregor Samsa woke from <strong>troubled dreams</strong>, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, <strong>pitifully thin</strong> compared with the size of the rest of him, waved about helplessly as he looked.</p>
                <!-- <ul class="references">
                    <li>Castel, Albert. “The Fort Pillow Massacre: A Fresh Examination of the Evidence.” Civil War History 4,   no. 1 (1958): 37-50.</li>
                    <li>Castel, Albert. “The Fort Pillow Massacre: A Fresh Examination of the Evidence.” Civil War History 4, no. 1 (1958): 37-50.</li>
                </ul>   -->              
            </div>
        </div>
    </div>
</day>