<day related-pages="" category="flooding" title="Introduction">

    <div class="block" bg-Img="assets/img/background2.png">
                <ul class="familytree">
                    <a ng-click="familytree();">
                        <li>
                            <img src="assets/img/face1.png">
                            <p>Elijah Harper</p>
                        </li>
                    </a>
                    <a ng-click="familytree();">
                        <li>
                            <img src="assets/img/face2.png">
                            <p>Douglas Cardinal</p>
                        </li>
                    </a>
                    <a ng-click="familytree();">
                        <li>
                            <img src="assets/img/face3.png">
                            <p>Theoren Fleury</p>
                        </li>
                    </a>
                    <!--                     CHANGE THIS AFTER PROTOTYPE
 -->
                    <a ng-click="familytreeTemp();">
                        <li>
                            <img src="assets/img/face4.png">
                            <p>Adam Beach</p>
                        </li>
                    </a>
                    <a ng-click="familytree();">
                        <li>
                            <img src="assets/img/face5.png">
                            <p>Santee Smith</p>
                        </li>
                    </a>
                    <a ng-click="familytree();">
                        <li>
                            <img src="assets/img/face6.png">
                            <p>James Bartleman</p>
                        </li>
                    </a>
                </ul>

        <div class="pos-bottom-centre">
                

                <img class="chptDeco" src="assets/img/logo.png">
                <div class="paragraph-width">
                    <h1>A BRIEF INTRODUCTION</h1>
                </div>
                <p>
                    One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.
                </p>

                
        </div>
    </div>

</day>