<day related-pages="" category="flooding" title="Thomas Harper">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">
        <div class="content" ng-class="{ 'shadowOn': ($root.states.logoCollapse === false) }">
            <div class="wrapper">
                <div class="leadblock first">
                    <div class="portrait" bg-Img="assets/img/elijahHarper/22_TRAPPERS-OF-THE-NW001.jpg"></div>
                    <h1>Thomas Harper</h1>
                    <i><span class="dob">????</span> - <span class="dod">1930</span></i>
                </div>
                <div class="leadblock second">
                    <p class="introtext"><i>Thomas Harper was Allan B Harper's biological father and died when his son was very young. </i></p>
                </div>
            </div>    
        </div>
    </div>
</day>