<day related-pages="" category="flooding" title="Juliet Wood">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">
        <div class="content" ng-class="{ 'shadowOn': ($root.states.logoCollapse === false) }">
            <div class="wrapper">
                <div class="leadblock first">
                    <div class="portrait" bg-Img="assets/img/elijahHarper/22_TRAPPERS-OF-THE-NW001.jpg"></div>
                    <h1>Juliet Wood</h1>
                    <i><span class="dob">1890</span> - <span class="dod">1975</span></i>
                </div>
                <div class="leadblock second">
                    <p class="introtext"><i>After the death of her first husband, Juliette Wood’s second marriage was to John E. Harper.</i></p>
                    <br><br>
                    <p class="introtext"><i>At a very young age, Elijah was sent to live with his paternal grandparents John E. Harper and Juliette Wood, but visited with his parents on a daily basis. 
                    </i></p>
                </div>
            </div>    
        </div>
    </div>
</day>