<day related-pages="" category="flooding" title="Resources">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">

            <div class="introduction" id="resources" >
                <div class="inner timeline">
                    <img src="assets/img/timeline.png"  ng-click="homebtn();">
                </div>                
                <div class="paragraph-width">
                    <h1>RESOURCES</h1>
                </div>
                <p class="first">
                    With acclaimed Canadian Genealogist Janice Nickerson
                    at the helm of our research team, All Our Relations was able to capitalize on
                    her years of experience and knowhow in the field of Aboriginal genealogy. By
                    watching the following interviews with Janice, you will receive valuable and
                    practical step-by-step instructions on how to begin your own search into your family’s
                    past.  
                </p>
                <!-- <div class="wrapper">
                    <div class="videowrapper">
                        <iframe src="//www.youtube.com/embed/9opvXrkTnRI?autohide=1&controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                
                <h2>Step 1</h2>
                <ol type="1">
                    <li>
                        Start your genealogical search with yourself and work back slowly, one generation at a time.
                    </li>
                    <li>
                        Speak with your family members (as many as possible) and gather as much information as you can, asking them for documents, memorabilia or heirlooms that might have been passed down and stories they might recall.
                    </li>
                    <li> 
                        Record these conversations with your family members, either audio or video if possible, to keep for future generations. 
                    </li>
                </ol>

                <div class="wrapper">
                    <div class="videowrapper">
                        <iframe src="//www.youtube.com/embed/Lpr3Hud4L58?autohide=1&controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <h2>Step 2</h2>
                <ol type="1">
                    <li>
                        Work from the most confidently understood
                        information. 
                    </li>
                    <li>Use online resources:
                        <ol type="a">
                            <li>
                                <a href="http://ancestry.ca/">Ancestry.ca</a>
                            </li>
                            <li>
                                <a href="http://www.bac-lac.gc.ca/eng/pages/home.aspx">Library and
                                Archives Canada (Federal Records)</a><br><br>
                                 Military records, citizenship records,
                                naturalization papers, and Indian Affairs (for which you need to know the
                                agency / department that was responsible for the community at the time).
                            </li>
                            <li>
                                <a href="http://www.archives.gov.on.ca/en/index.aspx">Archives of
                                Ontario at York University (Province
                                of Ontario Records)</a><br><br>
                                Court records,
                                land records, correspondence with government departments, education records and
                                private collections (fur traders, missionaries, church leaders records).
                            </li>
                            <li>
                                When looking for unregistered Aboriginal descendants –
                                they were not recorded in typical “white” or “Indian” records: Often found in church
                                records. See next video for more details.
                            </li>
                        </ol>
                    </li>
                </ol>
                <div class="wrapper">
                    <div class="videowrapper">
                        <iframe src="//www.youtube.com/embed/o0kXmHYmdjc?autohide=1&controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <h2>Challenges in researching Aboriginal ancestry</h2>
                <ol type="1" class="lead">
                    <li>
                        Being aboriginal.
                    </li>
                    <li>
                        Language barriers between people creating records at
                        that time and those they were creating records for.
                    </li>
                    <li> 
                        The remote locations. 
                    </li>
                    <li> 
                        Government policies at that time. 
                    </li>
                    <li> 
                        Residential School records are being collected and
                        catalogued as part of the Truth and Reconciliation process, but are not yet
                        widely available.
                    </li>
                </ol>
                <ol type="1" >
                    <strong>Tips</strong><br><br>
                    <li>
                        Be persistent.
                    </li>
                    <li>
                        Learn contextual information: find out the history of
                        community, research the language of the community, and find out about the
                        policies of that time.

                    </li>
                    <li> 
                        Come up with plausible theories as to where you might
                        find the information you are seeking.
                    </li>
                </ol> -->


                
            </div>
        </div>
    </div>
</day>