<day related-pages="" category="flooding" title="Resources Step1">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">

            <div class="introduction" id="resources">
                <div class="inner timeline" >
                    <img src="assets/img/timeline.png" ng-click="homebtn();">
                </div>                
                <div class="paragraph-width">
                    <h1>STEP 2</h1>
                </div>
                <div class="wrapperstep">
                    <div class="videowrapper">
                        <iframe src="//www.youtube.com/embed/Lpr3Hud4L58" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <!--  <ul class="columns">
                    <li>
                        <strong>1.</strong><div class="padded">Work from the most confidently understood
                        information. </div>
                    </li><li class="last"> 
                        <strong>2.</strong><div class="padded">Use online resources:
                        <ul>
                            <li>
                                <a href="http://ancestry.ca/">Ancestry.ca</a>
                            </li><br>
                            <li>
                                <a href="http://www.bac-lac.gc.ca/eng/pages/home.aspx">Library and
                                Archives Canada (Federal Records)</a><br><br>
                                 Military records, citizenship records,
                                naturalization papers, and Indian Affairs (for which you need to know the
                                agency / department that was responsible for the community at the time).
                            </li><br>
                            <li>
                                <a href="http://www.archives.gov.on.ca/en/index.aspx">Archives of
                                Ontario at York University (Province
                                of Ontario Records)</a><br><br>
                                Court records,
                                land records, correspondence with government departments, education records and
                                private collections (fur traders, missionaries, church leaders records).
                            </li>
                            <li>
                                When looking for unregistered Aboriginal descendants –
                                they were not recorded in typical “white” or “Indian” records: Often found in church
                                records. See next video for more details.
                            </li>
                        </ol></div> 
                    </li>
                </ul>
 -->                <ol type="1">
                    <li>
                        Work from the most confidently understood
                        information. 
                    </li>
                    <li>Use online resources:
                        <ol type="a">
                            <li>
                                <a href="http://ancestry.ca/">Ancestry.ca</a>
                            </li>
                            <li>
                                <a href="http://www.bac-lac.gc.ca/eng/pages/home.aspx">Library and
                                Archives Canada (Federal Records)</a><br><br>
                                 Military records, citizenship records,
                                naturalization papers, and Indian Affairs (for which you need to know the
                                agency / department that was responsible for the community at the time).
                            </li>
                            <li>
                                <a href="http://www.archives.gov.on.ca/en/index.aspx">Archives of
                                Ontario at York University (Province
                                of Ontario Records)</a><br><br>
                                Court records,
                                land records, correspondence with government departments, education records and
                                private collections (fur traders, missionaries, church leaders records).
                            </li>
                            <li>
                                When looking for unregistered Aboriginal descendants –
                                they were not recorded in typical “white” or “Indian” records: Often found in church
                                records. See next video for more details.
                            </li>
                        </ol>
                    </li>
                </ol>
                
            
                
            </div>
        </div>
    </div>
</day>