<day related-pages="" category="flooding" title="Thomas Taylor">

    <div class="block">
        <div class="pos-left-bottom content">
            <div class="column">
                <div class="column">
                    <h1>Taylor, Thomas</h1>
                    <h2><i>(June 29, 1968 -)</i></h2>
                </div>
                <div class="column">
                    <img src="assets/img/taylor1.jpg">
                </div>
            </div>
            <div class="column">
                
                <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into <strong>stiff sections.</strong></p>
                <div class="column left">
                     <p class="pullquote">"The bedding was hardly able to cover it and seemed ready to slide off any moment."<br><i>-Thomas Taylor 1970</i></p>
                    <p> His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. One morning, when Gregor Samsa woke from <strong>troubled dreams</strong>, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, <strong>pitifully thin</strong> compared with the size of the rest of him, waved about helplessly as he looked.</p>
                </div>
                <div class="column right">
                    <img src="assets/img/taylor2.jpg">
                </div>
                <!-- <ul class="references">
                    <li>Castel, Albert. “The Fort Pillow Massacre: A Fresh Examination of the Evidence.” Civil War History 4,   no. 1 (1958): 37-50.</li>
                    <li>Castel, Albert. “The Fort Pillow Massacre: A Fresh Examination of the Evidence.” Civil War History 4, no. 1 (1958): 37-50.</li>
                </ul>   -->              
            </div>
        </div>
    </div>
</day>