<day related-pages="" category="flooding" title="Thomas Taylor">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">
        <div class="content" ng-class="{ 'shadowOn': ($root.states.logoCollapse === false) }">
            <div class="wrapper">
                <div class="leadblock first">
                    <div class="firstimage" bg-Img="assets/img/elijahHarper/22_TRAPPERS-OF-THE-NW001.jpg"></div>
                    <h1>Thomas Taylor</h1>
                    <i>1881 - 1975</i>
                </div>
                <div class="leadblock second">
                    <p class="introtext"><i>Thomas Taylor lived in the First Nations community of Garden Hill on the shores of Island Lake. Located in the northeast corner of Manitoba the community is only accessible by air or winter ice roads.</i></p>
                </div>
            </div>    
        </div>
    </div>
</day>