<day related-pages="" category="flooding" title="Resources">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">

            <div class="introduction" id="resources">
                <div class="inner timeline" >
                    <img src="assets/img/timeline.png">
                </div>                
                <div class="paragraph-width">
                    <h1>RESOURCES</h1>
                </div>
                <a href="http://www.statcan.gc.ca/pub/98-187-x/4151278-eng.htm">
                        <h2>Statistics Canada - Aboriginal Peoples </h2>
                </a>
                <p>
                    Most of the estimates of the aboriginal population made by both ancient and modern writers, from information given by Indians themselves, or by travellers and traders, are full of exaggeration, which has been seldom discovered by criticism, so difficult is it to realize as correct, the fact of the enormous extent of territory necessary to supply man with food by the chase.
                </p>
                <a href="http://www.collectionscanada.gc.ca/022/022-607.002.01.01.13-e.html">
                        <h2>Researching Your Aboriginal Ancestry at Library and Archives Canada</h2>
                </a>
                <p>
                    Early "Indian censuses" were not nominal censuses in the way we know them today. Most were statistical in nature only and did not identify each and every individual in the Indian population. Some were just lists of Indian heads of families that were created for various purposes.
                </p>
                <p>
                    Starting in 1871, Indian agents began to produce aggregate censuses for each band in their jurisdiction to enable the Department of Indian Affairs to include statistics on the band population in its published annual reports. Digitized versions of the Indian Affairs Annual Reports 1864-1990 can be consulted on the Library and Archives Canada Web site. In 1917, the aggregate census began to be compiled every five years. During this time the agencies were not required to submit nominal returns to headquarters.
                </p>
                <p>
                    In 1939, the Department of Indian Affairs began instructing departmental agents to systematically record not just the names but also the sex, age, civil status and band number of every Indian and to keep that information on site. After 1951, the Indian register became the means of recording this information.
                </p>
                <p>
                    Unfortunately, not all Indian censuses created by the Department of Indian Affairs and its agents found their way into RG 10 fonds. Some did not survive; others have yet to be transferred to Library and Archives Canada.
                </p>
                <p>
                    Inventory descriptions of censuses in RG 10 fonds can be obtained from the ARCHIVED - General Inventory database, and file information can be obtained from the ARCHIVED - Government of Canada Files database using keywords such as the names of bands or agencies as explained in Part II of this guide. Many of these documents have access restrictions.
                </p> 
            </div>
        </div>
    </div>
</day>