<div class='wrapper'> 
<div class='titleblock'> 
<h1>William Samuel Lee</h1> 
<div class='datewrapper'>b. 1830 - d. 1896 </div> 
</div> 
</div> 
<div class='content'> 
<p>William operated a Hudson's Bay Company tracking post in Pincher Creek, Alberta, as well as a cattle ranch, school and stopping place near Crowsnest Pass. A notable figure of the area, William had a 100 year lease on the whole Crownest Pass for his cattle. Local legend holds that in the 1860s, Lee had been with the prospecting party that lost their pliers in what then became known as Pincher Creek to Euro-Canadians. Lee Lake in Southern Alberta is named after him.</p></div> 
<div class='footer'> 
</div> 
</div> 
