<div class='wrapper'> 
<div class='titleblock'> 
<h1>b. 1908</h1> 
<div class='datewrapper'>Joseph worked as a fish and game officer for a huge tract of central Alberta and was often away. Unable to cope with the challenges of raising their children, Joseph and his wife Frances sent Douglas Cardinal and his two brothers way to school. “My brothers didn’t fare very well,” says Cardinal. “They were younger and were very, very hurt in the process and it affected their lives to this day. I was a little older, so I decided that I would survive better by doing exactly what was expected by me. My modus operandi at the time was to excel. It’s a survival mechanism, which still drives me." </div> 
</div> 
</div> 
<div class='content'> 
<p>p 008.jpg<br>p 037.jpg or p 040.jpg</p></div> 
<div class='footer'> 
</div> 
</div> 
