<div class='wrapper'> 
<div class='titleblock'> 
<h1>Rosa "Gutosi Ki" Woman</h1> 
<div class='datewrapper'>b. 1856-1858
d. 1945-04-08 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/douglas-rosa.jpg")'> 
</div> 
<div class='content'> 
<p>Identified as "Indian" on the 1881 Canadian Census in Alberta, Rosa is also identified as a "Canadian Blood Indian" on the scrip affidavits of her children. She was also know as "Stricker Woman" in the 1901 census.</p></div> 
<div class='footer'> 
</div> 
</div> 
