<div class='wrapper'> 
<div class='titleblock'> 
<h1>Monias, Emily</h1> 
<div class='datewrapper'>b. 1888-12-19 
d. 1975-09-25 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/elijah-emilymonias.jpg")'> 
</div> 
<div class='content'> 
<p>Born at Garden Hill, Manitoba and married to Thomas Taylor, Emily Monias Taylor was the daughter of Makα tcewininε, Black Man (Peter Monias) and Nähikwαn´ebikwe. Emily Monias came from a significant local family and her marriage to Thomas was most likely arranged. </p><p>It's recorded that both Emily and Taylor understood a little English, but did not speak the language.</p></div> 
<div class='footer'> 
</div> 
</div> 
