<div class='wrapper'> 
<div class='titleblock'> 
<h1>Taylor, Thomas</h1> 
<div class='datewrapper'>b. about 1881 d. 1957-11-23
￼ </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/elijah-thomastaylor.jpg")'> 
</div> 
<div class='content'> 
<p>Thomas Taylor lived in the First Nations community of Garden Hill on the shores of Island Lake. Located in the northeast corner of Manitoba the community is only accessible by air or winter ice roads.</p></div> 
<div class='footer'> 
</div> 
</div> 
