<div class="wrapper">
    <div class="leadblock first">

        <div class="portrait"  style="background-image: url(http://205.186.156.50/all-our-relations/app/assets/img/elijahHarper/03b-Harper-1.jpg);"></div>

      <h1>Elijah Harper</h1>
      <div class="datewrapper">
          <i><span class="dob">1949</span> - <span class="dod">2013</span></i>
      </div>
        
    </div>
    <div class="leadblock second">
        <p class="introtext"><i>Elijah Harper – the Ojibwa-Cree Native from Northern Manitoba – has guaranteed his place in the history of Canada. He took a stand against all the odds and the government powers that be. And with a symbolic eagle feather, forever changed the course of Canadian history.</i></p>
    </div>
    <div class="leadblock third">
        <p class="mediumtext">In 1978 he was elected as the Chief for Red Sucker Lake Band (now Red Sucker Lake First Nation) and held this position for four years and in 1981 as a representative for the New Democratic Party won the northern Manitoba riding of Rupertsland. In 1987, Harper was named the Minister of Northern Affairs and Minister in charge of the Communities Economic Fund Act.</p>
    </div>
    <div class="leadblock">
        <div class="credit ">
            <img src="assets/img/elijahHarper/03d_935632.jpg">
            <p>Elijah at the Meech Lake Accord<i>- images taken from National Archive</i></p>
       </div><div class="credit">
            <img src="assets/img/elijahHarper/03a-ELIJAH HARPER.jpg">
            <p>Elijah as a child<i>- images taken from National Archive</i></p>
        </div>
            

    </div>
    <div class="leadblock">
        <p class="mediumtext">In 1990, Elijah guaranteed his place in Canadian history as a key figure in the rejection of the Meech Lake Accord, a constitutional amendment package to gain Quebec’s acceptance and support for remaining within Canada. As a representative of Manitoba, he opposed the amendment as it was originally negotiated without the input of Canada’s Fist Nations. Twelve days before the ratification deadline for the Accord, he raised an eagle feather and began a filibuster that prevented the assembly from adopting the required motion.</p>
    </div>
    <div class="leadblock">
        <img src="assets/img/elijahHarper/03b-Harper-1.jpg" class="tall">
        <div class="credit">
            <p>Elijah at the Meech Lake Accord<i>- taken from National Archive</i></p>
        </div>
       
    </div>
    <div class="leadblock">
        <p class="mediumtext">In response to Elijah’s actions, the Meech Lake Accord was not ratified and could not come into effect. Elijah's heroic work was recognized with the Stanley Knowles Humanitarian Award and the Canadian Press declared him the “Newsmaker of the Year in Canada”, a National Aboriginal Achievement Award for Public Service, the Order Merit from St. Paul’s University, the Order of the Sash from the Manitoba Metis Federation, and the Golden Eagle Award from the Indigenous Women’s Collective of Manitoba.</p>
    </div>
    <div class="leadblock">
        <p class="pullquote mediumtext">"It is always very difficult to go against the wind, and to stand up straight and say no when the easier path is to give in and go in the direction of the wind. I will always remember the image of Elijah Harper's courage and determination and his profound conviction"<br><i> - Ghislain Picard, Chief of the Assembly of the First Nations of Quebec and Labrador</i></p>
    </div>
    <div class="leadblock">

        <p class="mediumtext heading">Harper at the Meech Lake Accord</p>
        <audio controls>
          <source src="assets/audio/audio.ogg" type="audio/ogg">
          <source src="assets/audio/audio.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="credit">
            <p><i>- audio taken from National Archive</i></p>
        </div>
    </div>
    <div class="leadblock">
            <video width="100%" height="auto" controls>
              <source src="assets/video/lala.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="credit">
                <p><i>- video taken from National Archive</i></p>
            </div>
    </div>
    <div class="leadblock">
            <p class="pullquote mediumtext">“My continued journey is still to establish a true relationship that we have with Canada, based on our treaties. And our treaties are sacred. When they were signed, they were nation-to-nation, government-to-government. And we need to have that properly placed within the Constitution of Canada. As First Nations people, we have never really formerly entered into the Confederation like the provinces have.”<br><i> - Elijah Harper</i></p>
    </div>
    <div class="leadblock">
        <p class="mediumtext">Most notably Elijah was awarded the title of Honorary Chief for Life by Red Sucker Lake First Nation and received the Commemorative Medal of Canada from the Governor General for his efforts in public service.</p>
    </div>
    <div class="leadblock last">
        <img src="assets/img/elijahHarper/03c_935630.jpg" class="wide">
        <div class="credit">
            <p>Elijah at the Meech Lake Accord<i>- taken from National Archive</i></p>
            
        </div>
            
    </div>
    
</div>    