<h1>￼Monias, Makα tcewininε; Black Man; Peter</h1> 
<div class='datewrapper'>b. estimated between 1844-1861
d. 1934-01-01</div> 
<p>Peter Monias was a noted canoe builder and a local trading agent for the Hudson’s Bay Company. He was able to support three wives (all daughters of Peter Flett and granddaughters of Peemeecheekag, Porcupine Standing Sideways) as well as a large family. </p><p>Richard Monias, brother of Emily Monias Taylor and son of Peter Monias, was an informant to anthropologist A. Irving Hallowell in 1930. The result of this collaboration (done with some help from Peter Monias) was an extensive genealogy of the family, including notes on doodem, photographs, and some notes about life in the area at the time.</p></div> 
