<div class='wrapper'> 
<div class='titleblock'> 
<h1>￼Flett, Nähikwαn ́ebikwe</h1> 
<div class='datewrapper'>b. estimated about 1863 
d. estimated before 1930 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/elijah-flett.jpg")'> 
</div> 
<div class='content'> 
<p>The three wives of Peter Monias were all sisters, daughters of Peter Flett, granddaughters of Peemeecheekag, Porcupine Standing Sideways, and all members of the Sucker Doodem.</p></div> 
<div class='footer'> 
</div> 
</div> 
