<div class='wrapper'> 
<div class='titleblock'> 
<h1>Ethel Catherine Taylor</h1> 
<div class='datewrapper'>b. 1946 - d. 1992 </div> 
</div> 
</div> 
<div class='content'> 
<p>Ethel Catherine Taylor and Allan B Harper had thirteen children, including Elijah Harper, Saul Harper, and Darryl William Harper. </p><p>Elijah’s brother Darryl William Harper delivered the iconic eagle feather that symbolically blocked the ratification of the Meech Lake Accord.</p></div> 
<div class='footer'> 
</div> 
</div> 
