<div class='wrapper'> 
<div class='titleblock'> 
<h1>James Bartleman</h1> 
<div class='datewrapper'>b. 1939 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/james-james1.jpg")'> 
</div> 
<div class='content'> 
<p>James Bartleman, one of Canada’s most distinguished diplomats, traces his Ojibwa heritage to the 16th Century.  Ontario’s former Lieutenant-Governor talks about his experiences with Martin Luther King Jr., Fidel Castro and his tireless work on remote Reserves in Northern communities.</p><p>From a small weather-beaten house in Port Carling to the Lieutenant-Governor’s office at Queens Park, Bartleman’s journey took him into the complex world of international diplomacy. No one thought the adventurous youngster would become Ontario’s 27th Lieutenant Governor and one of Canada’s premier diplomats, working along side the likes of Fidel Castro, Nelson Mandela and the Queen.</p></div> 
<div class='footer'> 
<img src="http://205.186.156.50/all-our-relations/cdn/assets/img/james-james2.jpg"></div> 
</div> 
