<div class='wrapper'> 
<div class='titleblock'> 
<h1>James Benson Nanigishkung</h1> 
<div class='datewrapper'>b. 1845 - d. 1918 </div> 
</div> 
</div> 
<div class='content'> 
<p>Chief Thomas Nanigishkung's name appears on several early Rama reserve documents and seems to have been a “junior” chief, under Chief William Yellowhead (aka Musquakie). When Chief Yellowhead died in 1864, Thomas’s son, Joseph Benson Nanigishkung because Chief. </p><p>Prior to this, Joseph had been an interpreter (on salary with Indian Affairs). </p><p>In 1871, Joseph was listed in the census only as a “farmer and hunter,” Thomas being listed as a Chief, but this was crossed out. Joseph’s wife, Sarah Young, was also the daughter of a minor chief at Rama.</p></div> 
<div class='footer'> 
</div> 
</div> 
