<div class='wrapper'> 
<div class='titleblock'> 
<h1>William Smith</h1> 
<div class='datewrapper'>b. 1841 </div> 
</div> 
</div> 
<div class='content'> 
<p>William Smith was a farmer, and Chief of the Mohawks, Burtch P.O., and was a son of Aaron and Deborah (Johnson) Smith. His mother was of the Mohawk tribe, his father of the Oneidas. William Smith Jr., was born June 22, 1841, in the Johnson Settlement, near Brantford, and was married September 3, 1864, to Miss Charlotte Miller, daughter of Anthony Miller. He was President of the Agricultural Society of the Six Nations Indians, and his education was obtained at the Mohawk Institute. He was described as one of Tuscarora's best citizens.</p></div> 
<div class='footer'> 
</div> 
</div> 
