<div class='wrapper'> 
<div class='titleblock'> 
<h1>Alexander George Smith</h1> 
<div class='datewrapper'>b. 1849 - d. 1933 </div> 
</div> 
</div> 
<div class='content'> 
<p>He was an Interpreter for the St. Paul's Church of England, Kemyengah, under the New England Company, near the famous Sour Springs. He was also a chief of the Mohawks and was described as "one of those men whose desire for education ran high" and at the age of 13 he applied to a friend of the Indians, Rev. Canon Nelles for a position in the Mohawk Institute. His family consisted of six children, viz., Charlotte, Henrietta, Mary L., Lily N., Alexander, G. E.</p></div> 
<div class='footer'> 
</div> 
</div> 
