<div class='wrapper'> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/shantee-shantee.jpg")'> 
<div class='titleblock'> 
<h1>Santee Smith</h1> 
<div class='datewrapper'>? </div> 
</div> 
</div> 
<div class='content'> 
<p>Few Aboriginal communities can claim the rich artistic history of the Six Nations of Southern Ontario. Their honor role of famous personalities is impressive. In the world of dance, Santee Smith is an international superstar. The award-winning choreographer has captured critical acclaim throughout Japan, Indonesia, and North America.</p><p>International dance performer, choreographer and artist Santee Smith reveals her rich Six Nations background, including relatives Jay Silverheels and Pauline Johnson.</p></div> 
<div class='footer'> 
</div> 
</div> 
