<div class='wrapper'> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/")'> 
<div class='titleblock'> 
<h1>Jean-Baptiste Lépine</h1> 
<div class='datewrapper'>b. 1844-02-06
d. 1920-11-14 </div> 
</div> 
</div> 
<div class='content'> 
<p>Known as “JB,” Jean-Baptiste Lepine settled in St. Francis Xavier as a young man.  It was there he married Julia Fleury. The scrip applications for the couple’s children read like a history of the seasonal and regional movements of the Metis in the nineteenth century. As part of their livelihood, the Lepine family travelled the famous Carlton Trail pursuing the buffalo hunt.</p></div> 
<div class='footer'> 
</div> 
</div> 
