<div class='wrapper'> 
<div class='titleblock'> 
<h1>Marie Anne E Bruyere</h1> 
<div class='datewrapper'>b. 1862 - d. 1936 </div> 
</div> 
</div> 
<div class='content'> 
<p>Mme Boyer (Marie Anne/Emmerance Bruyère)<br>was a strong woman in her own right. According to the community history R.M. of Ellice 1883-1983,<br>her marriage to Ambroise Boyer was her second. The account of the death of her<br>first husband suggests her clarity and strength:</p><p>While living on the prairies, Mrs. Ambroise Boyer's first husband,<br>was warned by her not to light his pipe at night for the Sioux would shoot him.<br>He lit it anyway and got shot. Right way she sent their 14 year old boy to look<br>for a Metis camp and ask for help. It took him three days before he returned.<br>All this time she stayed and slept in a tent, with her husband who was dead -<br>you had to be careful as the Sioux and the Metis were fighting then.</p></div> 
<div class='footer'> 
</div> 
</div> 
