<div class='wrapper'> 
<div class='titleblock'> 
<h1>Natalie Rose Boyer</h1> 
<div class='datewrapper'>b. 1886/1888-11-00
d. 1918-11-12 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/theoren-natalie.jpg")'> 
</div> 
<div class='content'> 
<p>Edouard Fleury and Natalie Rose Boyer had a piece of land where they raised cattle and horses while Ed worked for local farmers, hunted, and trapped. When Natalie died in 1918 the children were cared for by her parents. Ed, who died in 1970, was described as having a ram-rod-straight stance.</p></div> 
<div class='footer'> 
</div> 
</div> 
