<div class='wrapper'> 
<div class='titleblock'> 
<h1>Margaret Goudy</h1> 
<div class='datewrapper'>b. 1847
d. 1915-06-01 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/")'> 
</div> 
<div class='content'> 
<p>Margaret Goudy and her husband Napoleon Lario separated sometime in the last years of the nineteenth century. His military pension record indicates he was considered an invalid by 1896. Margaret Goudy Lario travelled west with their children in the early 1900 to successfully homestead in the Bromhead area of Saskatchewan, an unusual accomplishment for a woman at the time.</p></div> 
<div class='footer'> 
</div> 
</div> 
