<div class='wrapper'> 
<div class='titleblock'> 
<h1>Flora Lépine</h1> 
<div class='datewrapper'>b. 1888-09-12
d. 1972-09-11 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/")'> 
</div> 
<div class='content'> 
<p>Flora Lepine married Jean-Baptiste Leclair and their granddaughter, Agnes Marie Lepine (Bell) recounted in the Fort Ellice centennial book that: </p><p>“One of her favourite memories of her grandfather, Jean Baptiste Sr., is a song he taught her, "Ouvre Moi La Porte, La Belle". This ditty had been passed down from a close friend, Louis Riel.” (See email from Janet Lafrance who has traced this song).</p><p>Through this line, Theoren Fleury is 5th cousin to the Lepines of the Red River Resistance.</p></div> 
<div class='footer'> 
</div> 
</div> 
