<div class='wrapper'> 
<div class='titleblock'> 
<h1>Napoleon Lario</h1> 
<div class='datewrapper'>b. 1846
d. 1912-07-14 </div> 
</div> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/")'> 
</div> 
<div class='content'> 
<p>According to United States military service and pensions indexes, Napoleon (Pole/Poland) Lario served as a private in the New York Cavalry, 6th Regiment, Company B during the American Civil War, enlisting on 2 January 1865 at Watertown New York, and mustering out with the rest of his regiment on 9 August 1865 at Louisville Kentucky. </p><p>In 1911 Pole Lario appears to have been working as a watchman at the Fifth Lake Dam on the Napanee River (Lennox and Addington County). He received a threatening letter just before the dam was destroyed.</p></div> 
<div class='footer'> 
</div> 
</div> 
