<div class='wrapper'> 
<div class='titleblock'> 
<h1>Theoren Fleury</h1> 
<div class='datewrapper'>b. 1968-06-29 </div> 
</div> 
</div> 
<div class='content'> 
<p>Hard work, determination and an indomitable spirit describe Theoren Fleury, who is of Metis descent.  He’s seen it all, from the heights of hockey super stardom to the depths of abuse and addiction.<br>Theoren Fleury is someone who knows who he is.</p><p>Embracing the achievements of his ancestors, Theoren Fleury wears his Metis heritage proudly.  He’s overcome obstacles few of us can even imagine.  His life is an inspiration for future generations.</p></div> 
<div class='footer'> 
</div> 
</div> 
