<div class='wrapper'> 
<div class='titleblock'> 
<h1>Edouard Fleury</h1> 
<div class='datewrapper'>b. 1846 - d. 1922 </div> 
</div> 
</div> 
<div class='content'> 
<p>One of Edouard and Melanie Fleury’s children, Margaret Ledoux, remembered their life as challenging:</p><p>"There were nine in our family - four boys and five girls. Edward, Louis, Johnny, Joe, Suzette, Agathe, Mary (Totewich), Helen and Veronique.</p><p>"Times were hard. Our house was made of logs with a sod roof, then plastered with dirt. We had only one room with two beds. To make our beds we made holes in the logs about three inches in, and put the poles in there and cut little poles across as we had no springs - then filled potato bags with grass or straw for our mattress. To make pillows, we filled them with all sorts of old rags. We picked slabs of wood people threw away at the saw mill. Our cupboards were apple boxes nailed to the wall. At the garbage dump, we picked pieces of tin to put on the roof under the sods."</p></div> 
<div class='footer'> 
</div> 
</div> 
