<div class='wrapper'> 
<div class='header' style='background-image: url("http://205.186.156.50/all-our-relations/cdn/assets/img/")'> 
<div class='titleblock'> 
<h1>Louis Fleury</h1> 
<div class='datewrapper'>b. 1908-05-00 </div> 
</div> 
</div> 
<div class='content'> 
<p>Louis Fleury lived on his grandparents’ farm until they both passed away (in 1936 and 1942). </p><p>Following their deaths, he and his wife continued to live on the farm, raising seven children, four boys, including Wallace (Wally) and Earl (Butch) and three girls. He worked for the C.N.R. for 32 years, beginning in 1941. In 1977, four years into their retirement, Lenore passed away. </p><p>Following Lenore’s death, Louis Fleury moved to Estevan, Saskatchewan to live with his daughter Marlene and her second husband Leonard Grube.</p><p>Another son, Earl (Butch) Fleury, father of Amber Fleury, has been active in the local music scene for many years, and has participated, with Amber, in a Michif oral history programme as well as being active in local athletic events.</p><p>In his busy life, Louis Fleury also found time to enjoy sports, and exceled at horseshoes.</p></div> 
<div class='footer'> 
</div> 
</div> 
