
<div id="nav">

    <div class="metadata" ng-class="{ 'peek': ($root.states.logoCollapse === false) }" ng-mouseenter="slidedown();"  ng-mouseleave="slideup();">
            <div class="inner timeline shouldHide" ng-show="$root.states.shouldCollapseNav === true;" >

                <img src="assets/img/timeline3.png" ng-click="$root.states.shouldCollapseNav = !$root.states.shouldCollapseNav; homebtn();">
                <iframe src="iframes/nav_tree.html" seamless frameborder="0" scrolling="no" style="position: relative; padding: 1% 0%;" ></iframe>
            </div><div class="inner branding shouldHide"  ng-hide="$root.states.logoCollapse === true;" >
                <img src="assets/img/logonoline.png" ng-click="$root.states.shouldCollapseNav = !$root.states.shouldCollapseNav; homebtn();">
<!--             <img src="{{baseURL}}assets/img/Logo1.png" >
 -->            <ul class="familytree">
                <a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/elijahHarper/03b-Harper-1.jpg" ng-class="{ 'off': (day == 'elijahHarper') }"></div>
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face2.jpg"></div>
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face3.jpg"></div>
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face4.jpg"></div>
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face5.jpg"></div>
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face6.jpg"></div>
                    </li>
                </a>
                <a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/profile.png"></div>
                    </li>
                </a>
            </ul>
        </div><div class="menubtn">
            <ul class="familytree">
                <li>
                    <div class="portrait" bg-Col="#999999"></div>
                </li><li>
                    <div class="portrait" bg-Col="#999999"></div>
                </li><li>
                    <div class="portrait" bg-Col="#999999"></div>
                </li><li>
                    <div class="portrait" bg-Col="#999999"></div>
                </li><li>
                    <div class="portrait" bg-Col="#999999"></div>
                </li><li>
                    <div class="portrait" bg-Col="#999999"></div>
                </li>
            </ul>
        </div><div class="dateline">
            <div class="bargraph"></div>
            <div class="point first">1814</div><div class="point">1834</div><div class="point">1854</div><div class="point">1874</div><div class="point">1894</div><div class="point">1914</div><div class="point">1934</div><div class="point">1954</div><div class="point">1974</div><div class="point">1994</div><div class="point last">2014</div>
            <div class="dates">
                <ul>
                    <li>Confederation & BNA Act</li>
                    <li style="margin-left: 40%;"><a href="http://en.wikipedia.org/wiki/Numbered_Treaties"><span>Last Numbered Treaty</span></a></li>
                    <li style="margin-left: 25%;"><a href="http://en.wikipedia.org/wiki/Canadian_Citizenship_Act_1946"><span>Native Right to Vote</span></a></li>
                    <li style="margin-left: 22%;"><a href="http://en.wikipedia.org/wiki/Oka_Crisis"><span>Oka</span></a></li>
                    <li style="margin-left: 6%;"><a href="http://en.wikipedia.org/wiki/History_of_Nunavut"><span>Nunavut</span></a></li>
                </ul>
            </div>
            <div class="dates below">
                <ul>
                    <li style="margin-left: 35%;"><a href="http://en.wikipedia.org/wiki/North-West_Rebellion"><span>Riel Uprising</span></a></li> 
                    <li style="margin-left: 20%;"><a href="http://en.wikipedia.org/wiki/Indian_Act#Amendments_1839.E2.80.93present"><span>Indian Act Revisions</span></a></li>
                    <li style="margin-left: 27%;"><a href="http://en.wikipedia.org/wiki/Meech_Lake_Accord"><span>Meech Lake Accord</span></a></li>
                </ul>
            </div>
        </div>
        
    </div>


    <a class="dayNavLink left" ng-show="day !=='title'" ng-click="prevDay();">  
        <svg class="icon" width="64" height="64" viewBox="0 0 32 32"><polygon fill="#010101" points="18.432,16.641 10.048,16.641 11.584,15.552 18.432,15.552 "/>
<path fill="#010101" d="M13.76,12.224l-10.176,3.84l10.176,3.84l-3.008-3.84L13.76,12.224z M5.056,16.064l6.848-2.752L9.28,16.064
    H5.056z"/>
<g>
    <polygon fill="#010101" points="17.92,15.552 20.672,12.352 21.952,12.352 19.2,15.552 20.48,15.552 23.168,12.352 24.448,12.352 
        21.76,15.552 23.04,15.552 25.729,12.352 27.008,12.352 24.32,15.552 25.6,15.552 25.6,16.641 24.32,16.641 27.008,19.84 
        25.729,19.84 23.04,16.641 21.76,16.641 24.448,19.84 23.168,19.84 20.48,16.641 19.2,16.641 21.952,19.84 20.672,19.84 
        17.92,16.641    "/>
</g>
<polygon fill="#010101" points="25.92,16.832 10.624,16.832 10.304,15.424 25.92,15.424 "/>
<path fill="#010101" d="M15.68,1.792c-7.936,0-14.336,6.4-14.336,14.336c0,7.937,6.4,14.336,14.336,14.336
    s14.335-6.399,14.335-14.336C30.016,8.192,23.616,1.792,15.68,1.792z M15.68,29.184c-7.232,0-13.056-5.824-13.056-13.056
    c0-7.232,5.824-13.12,13.056-13.12s13.056,5.824,13.056,13.056S22.912,29.184,15.68,29.184z"/>
        </svg>
    </a>

    <a class="dayNavLink right" ng-show="day == 'title' || day == 'resources' || day == 'resources-step1' || day == 'resources-step2' "ng-click="nextDay()">
        <svg class="icon" width="64" height="64" viewBox="0 0 32 32" fill="#010101"><polygon  points="12.928,15.552 21.312,15.552 19.775,16.704 12.928,16.704 "/>
<path  d="M17.6,19.968l10.176-3.84L17.6,12.288l3.008,3.84L17.6,19.968z M26.305,16.128l-6.849,2.752l2.624-2.752
    H26.305z"/>
<g>
    <polygon  points="13.44,16.704 10.688,19.904 9.408,19.904 12.16,16.704 10.88,16.704 8.192,19.904 6.912,19.904 
        9.6,16.704 8.32,16.704 5.632,19.904 4.352,19.904 7.04,16.704 5.76,16.704 5.76,15.552 7.04,15.552 4.352,12.352 5.632,12.352 
        8.32,15.552 9.6,15.552 6.912,12.352 8.192,12.352 10.88,15.552 12.16,15.552 9.408,12.352 10.688,12.352 13.44,15.552  "/>
</g>
<polygon  points="5.44,15.424 20.736,15.424 21.057,16.768 5.44,16.768 "/>
<path d="M15.68,30.4c7.936,0,14.335-6.4,14.335-14.336S23.616,1.792,15.68,1.792S1.344,8.192,1.344,16.128
    C1.344,24.064,7.744,30.4,15.68,30.4z M15.68,3.008c7.232,0,13.056,5.824,13.056,13.056S22.912,29.12,15.68,29.12
    S2.624,23.359,2.624,16.128C2.624,8.896,8.448,3.008,15.68,3.008z"/>
        </svg>
    </a>

</div>