<day related-pages="" category="flooding" title="Introduction">

    <div class="block" bg-Img="{{baseURL}}assets/img/background2.png">

        <div class="introduction">
            <!-- <img class="chptDeco" src="{{baseURL}}assets/img/Logo.png"> -->
            
            <div class="inner timeline" >
                <img src="assets/img/timeline.png">
            </div>

            <div class="paragraph-width">
                <h1>SELECT A STORY</h1>
            </div>

            <ul class="familytree">
                <a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/elijahHarper/03b-Harper-1.jpg"></div>
                        <p class="name">Elijah Harper</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face2.jpg"></div>
                        <p class="name">Douglas Cardinal</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face3.jpg"></div>
                        <p class="name">Theoren Fleury</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face4.jpg"></div>
                        <p class="name">Adam Beach</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face5.jpg"></div>
                        <p class="name">Santee Smith</p>
                    </li>
                </a><a ng-click="familytree();">
                    <li>
                        <div class="portrait" bg-Img="{{baseURL}}assets/img/face6.jpg"></div>
                        <p class="name">James Bartleman</p>
                    </li>
                </a>
            </ul>
            
        </div>   
    </div>
</day>